<div
  appClickOutside
  (clickOutside)="isOpen = false"
  class="main-div cursor"
>
  <div
    class="period-title-grid open-ou cursor"
    (click)="isOpen = !isOpen"
    title="Click to select one or more period"
  >
    <div style="text-align: start">
      <mat-icon>access_time</mat-icon>
    </div>
    <div  style="text-align: center">
      <span *ngIf="selectedPeriod" [@titleState]="'normal1'">{{ selectedPeriod }}</span>
      <span [@titleState]="selectedPeriod ? inActiveBg ? 'above' : 'above1' : 'normal'">{{ placeholder }}</span>
    </div>
    <div style="text-align: end">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </div>

  <div [ngClass]="{ hideData: !isOpen }" class="dropdownField">
    <div class="year-area">
      <div class="arrows" style="text-align: start">
        <div [ngClass]="{'hidden': !(!minYear || (minYear && currentYear > minYear))}" (click)="reduceCurrentYear()" >
          << Prev
        </div>
      </div>

      <div  style="text-align: center">
        {{currentYear}}
      </div>
      <div  class="arrows"  (click)="addCurrentYear()"  style="text-align: end">Next >></div>
    </div>
    <div class="month-area">
      <mat-list>
        <ng-container *ngFor="let month of usedMonths">
          <mat-list-item
            class="cursor zoom-on-hover in-active-month"
            [ngClass]="{'active-month': month.name + ' ' + this.currentYear == selectedPeriod}"
            (click)="setSelectedPeriod(month)"
          > {{month.name}} {{currentYear}}
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </div>
  </div>
</div>
