<app-registration-template [progressTitle]="title" [progressValue]="progressValue$ | async" [emitBack]="true"
    (back)="onBack()">
    <div class="row">
        <ng-container *ngIf="currentInput === 'currentPassword'">
            <div class="col-sm-12" [ngClass]="routeAnimationsElements" @fadeIn>
                <mat-form-field appearance="fill">
                    <mat-label>Current password</mat-label>
                    <input [(ngModel)]="password" matInput type="password" placeholder="Enter current password"
                        #myInput>
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-sm-12" align="center" [ngClass]="routeAnimationsElements" @fadeIn *ngIf="password">
                <button class="registration-button" mat-raised-button (click)="currentInput = 'newPassword'">
                    New Password
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="currentInput === 'newPassword'">
            <div class="col-sm-12" [ngClass]="routeAnimationsElements" @fadeIn>
                <mat-form-field appearance="fill">
                    <mat-label>New password</mat-label>
                    <input [(ngModel)]="newPassword" matInput type="password" placeholder="Enter new password" #myInput>
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-sm-12" align="center" [ngClass]="routeAnimationsElements" @fadeIn *ngIf="newPassword">
                <button class="registration-button" mat-raised-button (click)="currentInput = 'confirmPassword'">
                    Confirm Password
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="currentInput === 'confirmPassword'">
            <div class="col-sm-12" [ngClass]="routeAnimationsElements" @fadeIn>
                <mat-form-field appearance="fill">
                    <mat-label>Confirm new password</mat-label>
                    <input [(ngModel)]="confirmPassword" matInput type="password" placeholder="Confirm new password" #myInput>
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-hint style="font-weight: bold; color:red" *ngIf="confirmPassword && !passwordMatch" @fadeIn>*Password does not
                        match</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-sm-12" *ngIf="loading" @fadeIn>
                <mat-progress-bar style="color: #ffed00" mode="indeterminate"></mat-progress-bar>
                <p>Saving details...</p>
            </div>
            <div class="col-sm-12" align="center" [ngClass]="routeAnimationsElements" @fadeIn *ngIf="confirmPassword">
                <button class="registration-button" mat-raised-button (click)="currentInput = 'confirmPassword'"
                    [disabled]="!passwordMatch" (click)="submit()">
                    Submit
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </ng-container>
    </div>
</app-registration-template>