<app-shared-layout
  title="Contribution Cycle"
  image="timeline.png"
  [hideAdd]="true"
  [addIcon]="'add'"
  [addText]="'New Loan Type'"
  [viewDetails]="viewDetails"
  [smallForm]="false"
  [animationSize]="'full'"
  [formTitle]="panelTitle"
  (closeDetails)="closePanel()"
  urlName="Group Settings"
  [url]="['', 'settings']"
>
  <ng-container ngProjectAs="table">
    <div class="container-fluid">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-5">
          <app-period-selector
            #startMonthSelector
            (selected)="setStartMonthAndYear($event)">
          </app-period-selector>
          <!--      <mat-form-field appearance="outline">-->
          <!--        <mat-label>Current share collection start date</mat-label>-->
          <!--        <input readonly matInput [matDatepicker]="endingDate" [(ngModel)]="currentStartDate"/>-->
          <!--        <mat-datepicker-toggle matSuffix [for]="endingDate"></mat-datepicker-toggle>-->
          <!--        <mat-datepicker #endingDate></mat-datepicker>-->
          <!--      </mat-form-field>-->
        </div>
        <div class="col-span-5" *ngIf="startMonth" @fadeIn>
          <app-period-selector
            #endMonthSelector
            (selected)="setEndMonthAndYear($event)"
            [minMonth]="startMonth"
          ></app-period-selector>
          <!--      <mat-form-field appearance="outline">-->
          <!--        <mat-label>Date of distributing share</mat-label>-->
          <!--        <input [min]="currentStartDate" readonly matInput [matDatepicker]="endingDate1" [(ngModel)]="distributionDate"/>-->
          <!--        <mat-datepicker-toggle matSuffix [for]="endingDate1"></mat-datepicker-toggle>-->
          <!--        <mat-datepicker #endingDate1></mat-datepicker>-->
          <!--      </mat-form-field>-->
        </div>

        <div class="col-span-2" *ngIf="startMonth && endMonth" @fadeIn>
          <button mat-raised-button (click)="addPeriod()" style="width: 100%; height: 45px; margin-top: 3px">
            <mat-icon>add</mat-icon>
            Add
          </button>
        </div>
      </div>
      <div class="mt-5">
        <div class="col-sm-12 mt-3" *ngIf="dates.length > 0" @fadeIn>
          <table class="table table-bordered border-white text-white">
            <tr>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Current</th>
              <th></th>
            </tr>
            <tr *ngFor="let date of dates">
              <td>{{date.start.month.name}} {{date.start.year}}</td>
              <td>{{date.end.month.name}} {{date.end.year}}</td>
              <td>
                <mat-icon *ngIf="!isCurrentPeriod(date)">check_box_outline_blank</mat-icon>
                <mat-icon *ngIf="isCurrentPeriod(date)">check_box</mat-icon>
              </td>
              <td>
                <button mat-icon-button (click)="deleteDate(date)">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </td>
            </tr>
          </table>
        </div>

        <div class="col-sm-12 mt-3" *ngIf="dates.length" @fadeIn>
          <app-save-area
            [confirmFirst]="true"
            [saveDisabled]="dates.length == 0"
            confirmText="Save changes to Contribution cycles?, confirm"
            (cancel)="onClose()"
            (save)="save()"
            [savingData]="loading"
          ></app-save-area>
        </div>
      </div>
    </div>
  </ng-container>
</app-shared-layout>
