<div class="row content-area-shadow">
  <div class="col-sm-12">
    <h3 class="registration-title mb-1">Loan Summary</h3>
  </div>

  <div class="col-sm-12 p-0">
    <div class="loan-grid">
      <div>
        <app-circular-progress [value]="60"></app-circular-progress>
      </div>
      <div style="display: grid; align-content: center">
        <p style="font-size: 20px;" class="text-muted">
          Total Unpaid Loan
          <span class="currency-area">({{group?.currency}})</span>
        </p>
        <h1 class="registration-title big-amount">6,324,909</h1>
        <div class="inner1-grid">
          <div class="inner1-item-grid">
            <div class="img-area in"></div>
            <div>
              <p class="text-muted">Paid Amount</p>
              <h1 class="registration-title down-amount">5,004,900</h1>
            </div>
          </div>
          <div class="inner1-item-grid">
            <div class="img-area out"></div>
            <div>
              <p class="text-muted">Total Loan Out</p>
              <h1 class="registration-title down-amount">9,554,900</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
