<div class="row content-area">
  <div class="col-sm-12 title-grid">
    <div style="display: grid;align-content: center">

      <h3 *ngIf="showTitle" class="registration-title mb-1">Active Loans</h3>
    </div>
    <div class="selection-area" style="text-align: end">
      <mat-menu #fineTypeMenu="matMenu">
        <button
          mat-menu-item
          (click)="currentLoan = 'All';typeName = 'All'; getData()">
          All
        </button>
        <button
          *ngFor="let contr of loanTypes$ | async"
          (click)="currentLoan = contr.id;typeName = contr.name;  getData()"
          mat-menu-item>
          {{contr.name}}
        </button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="fineTypeMenu" class="cursor">
        <!--              <mat-icon>date_range</mat-icon> &nbsp;-->
        <span>{{typeName}}</span> &nbsp;
        <mat-icon style="color: white;">arrow_drop_down</mat-icon>
      </button>

    </div>
  </div>

  <div class="col-sm-12 p-0">
    <div class="loan-grid" *ngIf="loanSummary$ | async">
      <div>
        <app-circular-progress [value]="(loanSummary$ | async).percent"></app-circular-progress>
      </div>
      <div style="display: grid; align-content: center">
        <p style="font-size: 20px;" class="text-muted m-0">
          Total Unpaid Loan
          <span class="currency-area">({{group?.currency}})</span>
        </p>
        <h1 class="registration-title big-amount mb-0">{{(loanSummary$ | async).unpaid | number}}</h1>
        <div class="inner1-grid">
          <div class="inner1-item-grid">
            <div class="img-area in"></div>
            <div>
              <p class="text-muted">Paid Amount</p>
              <h1 class="registration-title down-amount">{{(loanSummary$ | async).paid | number}}</h1>
            </div>
          </div>
          <div class="inner1-item-grid">
            <div class="img-area out"></div>
            <div>
              <p class="text-muted">Total Loan Out</p>
              <h1 class="registration-title down-amount">{{(loanSummary$ | async).totalOut | number}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
