<div class="grid-area" *ngIf="!(isHandset$ | async)">
  <div class="contetia">
    <div class="textArea1">
      <div class="flex flex-row gap-2">
        <div>
          <img src="assets/icons/icon-72x72.png">
        </div>
        <div>
          <h1  [ngClass]="routeAnimationsElements" class="registration-title" style="font-size: 50px">
            <span class="orange">Group</span><span class="blue">Savings</span>
          </h1>
          <p style="font-size: 20px; color: #fdfdfdad" [ngClass]="routeAnimationsElements">
            Save Together Save Better
          </p>
        </div>

      </div>

      <div class="mt-5 ml-5">
        <div [ngClass]="routeAnimationsElements">
          <button class="zoom-on-hover" mat-raised-button [routerLink]="['', 'welcome', 'registration']">
<!--          <button class="zoom-on-hover" (click)="downloadExcel()">-->
            Start Here
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div [ngClass]="routeAnimationsElements">
      <img alt="first" src="assets/images/vector-compostion1.png" style="height: 60vh; opacity: 0.65">
    </div>
  </div>
</div>

<div class="grid-area" *ngIf="isHandset$ | async">
  <div class="contents">
    <div [ngClass]="routeAnimationsElements" style="text-align: center">
      <img src="assets/icons/icon-512x512.png">
    </div>
    <h1 class="mb-0" [ngClass]="routeAnimationsElements" style="text-align: center; font-family: CMSansSerif">
      <span class="orange">Group</span><span class="blue"> Savings</span>
    </h1>
    <h2 class="mb-0" [ngClass]="routeAnimationsElements" style="text-align: center; font-family: CMSansSerif">
      Save Together Save Better!
    </h2>
    <div [ngClass]="routeAnimationsElements" style="text-align: center">
<!--      <button mat-raised-button [routerLink]="['', 'welcome', 'registration']">-->
      <button mat-raised-button (click)="downloadExcel()">
        Start Here
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
    <!--        <h2>Save Together Save Better!</h2>-->
  </div>
</div>

