<div class="nav-bars">
  <div class="left-title" [ngClass]="routeAnimationsElements">
    <button (click)="goBack()" mat-flat-button>
      <mat-icon>arrow_back</mat-icon>&nbsp;
      <span  *ngIf="!(isHandset$ | async)">{{previousStep$ | async}}</span>
    </button>
  </div>

  <div class="gauge" [ngClass]="{'push-left': !(isHandset$ | async)}">
    <div class="progress1" [ngClass]="routeAnimationsElements">
      <mat-progress-spinner mode="determinate" [value]="progressValue$ | async"></mat-progress-spinner>
      <span>{{progressValue$ | async}}%</span>
    </div>
    <div style="margin-top: 20px; font-size: 17px" class="text-progress registration-title" *ngIf="!(isHandset$ | async)" [ngClass]="routeAnimationsElements">
      {{currentStep$ | async}}
    </div>
  </div>

  <div class="logo" [ngClass]="routeAnimationsElements">
    <img src="assets/icons/icon-512x512.png" style="height: 40px">
  </div>
</div>
<div class="grid-area">

<!--  Country Selection-->
  <app-country-selection
    *ngIf="(currentStep$ | async) == registrationSteps.CountrySelection"
    [selectedCountry]="country$ | async"
    (setSelectedCountry)="setCountry($event)"
    (nextStep)="goNextStep($event)"
  ></app-country-selection>

<!--  Phone Number -->
  <app-phone-number
    *ngIf="(currentStep$ | async) == registrationSteps.PhoneNumber"
    [country]="phoneCountry$ | async"
    [currentPhoneNumber]="phoneNumber$ | async"
    [phoneNumberValid]="phoneNumberValid$ | async"
    (setPhoneNumber)="setPhoneNumber($event)"
    (nextStep)="goNextStep($event)"
  ></app-phone-number>

<!--  Password Registration-->
  <app-enter-password
    *ngIf="(currentStep$ | async) == registrationSteps.EnterPassword"
    [email]="email$ | async"
    [memberName]="memberName$ | async"
    (nextStep)="goNextStep($event)"
  ></app-enter-password>

<!--  Member Name-->
  <app-member-name
    *ngIf="(currentStep$ | async) == registrationSteps.MemberName"
    [memberName]="memberName$ | async"
    [memberGroups]="memberGroups$ | async"
    (nextStep)="goNextStep($event)"
  ></app-member-name>

<!--  Group Name-->
  <app-group-name
    *ngIf="(currentStep$ | async) == registrationSteps.GroupName"
    [groupName]="groupName$ | async"
    (nextStep)="goNextStep($event)"
  ></app-group-name>

  <!--  Password Registration-->
  <app-set-password
    *ngIf="(currentStep$ | async) == registrationSteps.SetPassword"
    [memberName]="memberName$ | async"
    (nextStep)="goNextStep($event)"
  ></app-set-password>

  <!--  Password Registration-->
  <app-confirm-password
    *ngIf="(currentStep$ | async) == registrationSteps.ConfirmPassword"
    [memberName]="memberName$ | async"
    (nextStep)="goNextStep($event)"
  ></app-confirm-password>

  <app-creating-group
    *ngIf="(currentStep$ | async) == registrationSteps.CreatingGroup"
  ></app-creating-group>

</div>
