<app-shared-layout
  title="Meetings"
  icon="group_work"
  [hideAdd]="true"
  [addIcon]="'group_add'"
  (addItem)="addItem()"
  [addText]="'New Member'"
  [viewDetails]="viewDetails"
  (closeDetails)="closePanel()"
  [animationSize]="'full'"
  [smallForm]="false"
  [formTitle]="panelTitle"
>
  <ng-container ngProjectAs="table">

    <app-next-meeting
      *ngIf="(nextMeeting$ | async)"
      [nextMeeting]="nextMeeting$ | async"
      (completeMeeting)="completeMeeting()"
      (cancelMeeting)="cancelMeeting()"
    ></app-next-meeting>

    <app-empty-meeting
      *ngIf="!(nextMeeting$ | async)"
      (setMeeting)="addItem()"
    ></app-empty-meeting>

    <h3 class="registration-title">
      Previous Meetings
    </h3>

    <p class="registration-title" *ngIf="(meetings$ | async)?.length == 0">
      There are no meeting conducted
    </p>

    <div *ngIf="(meetings$ | async)?.length > 0">
      <div class="meeting-grid">
        <div
          class="single-meeting content-area-shadow"
          [ngClass]="routeAnimationsElements"
          *ngFor="let meeting of meetings$ | async"
        >
          <div class="icon-area">
            <mat-icon>date_range</mat-icon>
          </div>
          <div class="cursor" (click)="viewMeeting(meeting)">
            <div style="color: #ffffffb3; font-size: 15px">{{meeting.place}}</div>
            <h1 class="registration-title mb-1">{{meeting.date | date}}</h1>
            <p style="color: #ffffffb3; font-size: 14px" *ngIf="meeting.notes" class="mb-1">
              {{meeting.notes}}
            </p>
            <small style="color: #ffffff75;font-size: 12px">
              <span *ngIf="meeting.memberAttended"><b>You</b> and</span>
              {{meeting.members}}
            </small>
            <small  style="display: block;color: #ffffff61;" *ngIf="!meeting.memberAttended">You missed this meeting</small>
          </div>

          <div class="menu">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon style="color: white">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <mat-divider></mat-divider>
              <button (click)="viewMeeting(meeting)" mat-menu-item>
                <mat-icon>remove_red_eye</mat-icon> View Details
              </button>
              <button (click)="editMeeting(meeting)" mat-menu-item >
                <mat-icon style="color: #0277bd">mode_edit</mat-icon> Update Meeting
              </button>
              <button (click)="deleteMeeting(meeting)" mat-menu-item >
                <mat-icon style="color: red">delete</mat-icon> Remove Meeting
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>

  </ng-container>

  <ng-container ngProjectAs="form">
    <app-set-meeting
      *ngIf="viewType == 'add'"
      [group]="group$ | async"
      [currentMeeting]="currentMeeting"
      (closeForm)="closePanel()"
    ></app-set-meeting>

    <app-view-meeting
      *ngIf="viewType == 'view'"
      [group]="group$ | async"
      [members]="members$ | async"
      [currentMeeting]="currentMeeting"
    ></app-view-meeting>

    <app-delete-meeting
      *ngIf="viewType == 'delete'"
      [group]="group$ | async"
      [members]="members$ | async"
      [currentMeeting]="currentMeeting"
      (closeForm)="closePanel()"
    ></app-delete-meeting>

    <app-complete-meeting
      *ngIf="viewType == 'complete' || viewType == 'edit'"
      [group]="group$ | async"
      [currentMeeting]="currentMeeting"
      [members]="members$ | async"
      [editing]="viewType == 'edit'"
      [membersEntities]="membersEntities$ | async"
      (closeForm)="closePanel()"
    ></app-complete-meeting>

    <app-cancel-meeting
      *ngIf="viewType == 'cancel'"
      [group]="group$ | async"
      [currentMeeting]="currentMeeting"
      (closeForm)="closePanel()"
    ></app-cancel-meeting>


  </ng-container>
</app-shared-layout>
