<app-shared-layout
  title="Meetings"
  icon="group_work"
  [hideAdd]="true"
  [addIcon]="'group_add'"
  (addItem)="addItem()"
  [addText]="'New Member'"
  [viewDetails]="viewDetails"
  (closeDetails)="closePanel()"
  [animationSize]="'full'"
  [smallForm]="false"
  [formTitle]="panelTitle"
>
  <ng-container ngProjectAs="table">

    <app-next-meeting
      *ngIf="(nextMeeting$ | async)"
      [nextMeeting]="nextMeeting$ | async"
      (completeMeeting)="completeMeeting()"
      (cancelMeeting)="cancelMeeting()"
    ></app-next-meeting>

    <app-empty-meeting
      *ngIf="!(nextMeeting$ | async)"
      (setMeeting)="addItem()"
    ></app-empty-meeting>

    <h3 class="registration-title">
      Meetings
    </h3>

    <p class="registration-title">
      There are no meeting conducted
    </p>

  </ng-container>

  <ng-container ngProjectAs="form">
    <app-set-meeting
      *ngIf="viewType == 'add'"
      [group]="group$ | async"
      [currentMeeting]="currentMeeting"
      (closeForm)="closePanel()"
    ></app-set-meeting>

    <app-complete-meeting
      *ngIf="viewType == 'complete'"
      [group]="group$ | async"
      [currentMeeting]="currentMeeting"
      [members]="members$ | async"
      (closeForm)="closePanel()"
    ></app-complete-meeting>
  </ng-container>
</app-shared-layout>
