
.menu-grid {
  display: grid;
  grid-template-columns: 120px auto 40px;
  padding: 27px 20px 20px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1) !important;
  cursor: pointer;

  p {
    font-size: 25px;
    color: #8e8e8e;
  }

  .edit-button {
    border: 1px solid #574c79;
    border-radius: 25px;
  }

  .img-div {
    background-color: #ffffff2e;
    width: 85px;
    height: 83px;
    padding: 25px;
    text-align: center;
    border-radius: 42px;
    vertical-align: middle;

    img {
      height: 50px;
      width: 50px;
    }
  }
}

.dashboard-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 290px;
  grid-template-rows: auto auto;

  .other-summary {
    grid-row: span 2;
  }
}
