<div class="row">
  <div class="col-sm-12">
    <app-view-meeting
      [group]="group"
      [members]="members"
      [currentMeeting]="currentMeeting"
    ></app-view-meeting>
  </div>

  <div class="col-sm-12 mt-3">
    <app-save-area
      [confirmFirst]="true"
      confirmText="This meeting will be removed from list of meetings"
      saveText="Remove Meeting"
      saveIcon="delete"
      [savingData]="loading"
      (save)="save()"
      (cancel)="onClose()"
    ></app-save-area>
  </div>
</div>
