<app-shared-layout
  title="Fine Types"
  image="fine.png"
  [hideAdd]="true"
  [addIcon]="'add'"
  (addItem)="addItem()"
  [addText]="'New Fine Type'"
  [viewDetails]="viewDetails"
  [smallForm]="false"
  [animationSize]="'full'"
  [formTitle]="panelTitle"
  (closeDetails)="closePanel()"
  urlName="Group Settings"
  [url]="['', 'settings']"
>
  <ng-container ngProjectAs="table">
    <div class="settings-grid">
      <div [ngClass]="routeAnimationsElements" *ngFor="let contr of fineTypes$ | async" class="settingGrid content-area">
        <div class="img-div">
          <h1 style="font-size: 40px;" class="registration-title">{{contr.description[0].toUpperCase()}}</h1>
        </div>
        <div>
          <h2 [ngClass]="{'text-muted': !contr.is_active}" class="registration-title mb-1">{{contr.description}}</h2>
          <p class="name-area">{{contr.textDescription}}</p>
          <p *ngIf="!contr.is_active">Deactivated</p>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container ngProjectAs="form">

  </ng-container>
</app-shared-layout>
