
.main-expense-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-right: 15px;
  .expenseGrid {
    display: grid;
    grid-template-columns: 70px auto 200px;
    padding: 15px;
    border: 1px solid #ffffff5e;
    border-radius: 15px;
    .name-area {
      color: #ffffffbf!important;
      font-size: 16px;
    }
    .amount-area {
      display: grid;
      align-content: center;
      justify-content: end;

      h1 {
        font-size: 38px;
      }
    }
  }
}


