<app-shared-layout
  title="Expenses"
  image="cash-in-hand.png"
  [hideAdd]="(expenses$ | async).length == 0"
  [addIcon]="'add'"
  (addItem)="addExpense()"
  [addText]="'Create Expense'"
  [viewDetails]="viewDetails"
  [smallForm]="false"
  [animationSize]="'full'"
  [formTitle]="panelTitle"
  (closeDetails)="closePanel()"
  urlName="Summary"
  [url]="['', 'summary']"
>
  <ng-container ngProjectAs="table">
    <app-empty-summary
      incompleteText="Some information needed to process expenses have not been defined yet!"
      [infoNotComplete]="(contributionTypes$ | async)?.length == 0"
      [itemsExists]="(expenses$ | async)?.length > 0"
      imageSrc="investments.jpg"
      title="No expenses posted"
      subTitle="You can add new expense for a group or specific member."
      addTitle="Create Expense"
      (addClicked)="addExpense()"
    ></app-empty-summary>

    <div class="main-expense-grid">
      <div *ngFor="let expense of expenses$ | async" class="expenseGrid">
        <div>
          <mat-icon>money</mat-icon>
        </div>
        <div>
          <h3 class="mb-1 registration-title">{{ expense.reason }}</h3>
          <p *ngIf="expense.member" class="text-muted mb-0 name-area">{{ expense.member.name }}</p>
          <p *ngIf="!expense.member" class="text-muted mb-0 name-area">Group Expense</p>
          <p class="text-muted"><small>{{ expense.date | date }}</small></p>
        </div>
        <div class="amount-area">
          <p class="mb-0"><small class="text-muted">{{(group$ | async)?.currency}}</small> </p>
          <h1 class="registration-title">{{ expense.amount | number }}</h1>
        </div>
        <div class="menu">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon style="color: white">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="updateExpense(expense)">
              <mat-icon style="color: #0277bd">mode_edit</mat-icon> Edit
            </button>
            <button mat-menu-item (click)="deleteExpense(expense)">
              <mat-icon style="color: red">delete</mat-icon> Delete
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container ngProjectAs="form">
    <app-add-expense
      *ngIf="viewType == 'add'"
      [group]="group$ | async"
      [members]="members$ | async"
      [contributionTypes]="contributionTypes$ | async"
      (closeForm)="closePanel()"
      [currentExpense]="currentExpense"
    ></app-add-expense>

    <app-delete-expense
      *ngIf="viewType == 'delete'"
      [group]="group$ | async"
      [currentExpense]="currentExpense"
      (closeForm)="closePanel()"
    ></app-delete-expense>
  </ng-container>
</app-shared-layout>
