<div class="payment-grid">
  <app-contribution-item
    *ngFor="let contr of contributions"
    [group]="group"
    [showDelete]="showDelete"
    [payment]="contr"
  ></app-contribution-item>


</div>

<div *ngIf="showDelete">
  <app-save-area
    saveText="delete"
    saveIcon="delete"
    (save)="deleteContributions()"
    [confirmFirst]="true"
    (cancel)="onClose()"
    [savingData]="loading"
    confirmText="Are you sure you want to delete All these contributions for {{contributions[0]?.member?.name}}"
  ></app-save-area>
</div>

