<div class="container-fluid">
  <div class="flex">
    <div class="w-10/12">
      <h2 class="registration-title text-center">
        <span *ngIf="!data?.selectGroup">Change Account</span>
        <span *ngIf="data?.selectGroup">Select Group</span>
      </h2>
    </div>
    <div class="w-2/12 pr-0" style="text-align: right" *ngIf="!data?.selectGroup">
      <button mat-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
        <span> Close</span>
      </button>
    </div>
  </div>
  <div class="w-full">
    <div>
      <div *ngFor="let memberGroup of memberGroups$ | async"
        (click)="setCurrentGroup(memberGroup)">
        <div  class="menu-grid content-area" *ngIf="memberGroup.activation_status == 'active' ">        
        <div class="img-div" *ngIf="memberGroup">
          <h1 style="font-size: 40px; color: white" class="registration-title">
            {{memberGroup.group_name[0].toUpperCase()}}</h1>
        </div>

        <div *ngIf="memberGroup" class="grid items-center">
          <h2 class="registration-title mb-1 text-2xl">
            {{memberGroup.group_name}}
          </h2>
        </div>
        </div>

      </div>
    </div>
    <div class="mt-3 grid place-items-center" *ngIf="!newGroupMode && (memberGroups$ | async).length < 2" @fadeIn>
      <button mat-raised-button class="rounded-xl" (click)="newGroupMode = true"> Create Another Group</button>
    </div>

    <div class="mt-3" *ngIf="newGroupMode" @fadeIn>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>New Group Name</mat-label>
          <input matInput placeholder="New Group Name" [(ngModel)]="newGroupName">
        </mat-form-field>
      </div>
      <div *ngIf="newGroupMode" @fadeIn>
        <app-save-area [confirmFirst]="true"
          confirmText="This will create a new group, Currently we are allowing you to have only two group"
          (save)="save()" (cancel)="newGroupMode = false;" [savingData]="loading"
          loadingMessage="Creating new Group, data please wait..."></app-save-area>
      </div>
    </div>
  </div>
</div>