<div class="progress-container content-area">
  <div class="progressArea">
    <app-circular-progress [value]="assignedNumber"></app-circular-progress>
  </div>
  <div class="textArea">
    <h1 style="font-size: 40px; line-height: 45px" class="registration-title mt-5 mb-2">Complete Group Profile</h1>
    <p style="font-size: 20px; font-weight: lighter; color: #9b9b9b">
      {{progressDetails?.title}}
    </p>
    <button
      style="font-weight: 900; border-radius: 20px;margin-top: 25px;padding: 5px 25px;font-size: 15px;border: 1px solid #FF7043;"
      mat-raised-button
      class="registration-title add-button"
      (click)="openModel()"
    >
      {{progressDetails?.buttonLabel}}
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
