<div [ngClass]="editing ? 'editing' : 'adding'">
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel>
        Basic Information
      </ng-template>
      <div class="grid gap-x-4 gap-y-2 grid-cols-2">
        <!--      Contribution TYpe-->
        <div class="">
          <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="contributionType" [disabled]="!editing" (selectionChange)="setContributionType($event)">
              <mat-option [value]="contributionTypeEnums.Share">{{contributionTypeEnums.Share}}</mat-option>
              <mat-option [value]="contributionTypeEnums.Social">{{contributionTypeEnums.Social}}</mat-option>
              <mat-option [value]="contributionTypeEnums.EntryFee">{{contributionTypeEnums.EntryFee}}</mat-option>
              <mat-option [value]="contributionTypeEnums.Other">{{contributionTypeEnums.Other}}</mat-option>
              <mat-option [value]="contributionTypeEnums.OneTime">{{contributionTypeEnums.OneTime}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--      Contribution Name-->
        <div class="">
          <mat-form-field appearance="outline">
            <mat-label>Contribution name</mat-label>
            <input [(ngModel)]="name" matInput placeholder="Contribution name">
          </mat-form-field>
        </div>

        <!--      Contribution Frequency-->
        <div class="col-span-2">
          <mat-form-field appearance="outline">
            <mat-label>Contribution Frequency</mat-label>
            <mat-select [(ngModel)]="frequency">
              <mat-option value="Monthly">Monthly <small> (Member contribute every Month)</small></mat-option>
              <mat-option value="Weekly">Weekly <small> (Member contribute every Week)</small></mat-option>
              <mat-option value="Yearly">Yearly <small> (Member contribute every year)</small></mat-option>
              <mat-option value="Random">Random <small> (There is no defined contribution time)</small></mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--      Track balances for this contribution-->
        <div class="col-span-2" *ngIf="contributionType != contributionTypeEnums.OneTime">
          <mat-form-field appearance="outline">
            <mat-label>Track contribution balance</mat-label>
            <mat-select [(ngModel)]="trackBalance">
              <mat-option value="Yes">Yes <small> (Keep track of balance with every transaction)</small></mat-option>
              <mat-option value="No">No <small> (Do not keep track of balance, Record only in and out
                transactions)</small></mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--      Track balances for this contribution-->
        <div class="col-span-2" *ngIf="contributionType == contributionTypeEnums.OneTime">
          <mat-form-field appearance="outline">
            <mat-label>This contribution has a fixed timeline</mat-label>
            <mat-select [(ngModel)]="contributionHasDeadline">
              <mat-option value="Yes">Yes <small> (There is a deadline for {{name}})</small></mat-option>
              <mat-option value="No">No <small> (There is no deadline for {{name}})</small></mat-option>
            </mat-select>
            <mat-hint>Select yes if there is a deadline for members to contribute</mat-hint>
          </mat-form-field>
        </div>

        <div class="col-span-1" *ngIf="contributionType == contributionTypeEnums.OneTime && contributionHasDeadline == 'Yes'">
          <mat-form-field appearance="outline">
            <mat-label>Start Date</mat-label>
            <input readonly matInput [matDatepicker]="startingDate" [(ngModel)]="contributionStartDate"/>
            <mat-datepicker-toggle matSuffix [for]="startingDate"></mat-datepicker-toggle>
            <mat-datepicker #startingDate></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-span-1" *ngIf="contributionType == contributionTypeEnums.OneTime && contributionHasDeadline == 'Yes'">
          <mat-form-field appearance="outline">
            <mat-label>Deadline Date</mat-label>
            <input readonly matInput [matDatepicker]="endingDate" [(ngModel)]="contributionEndDate"/>
            <mat-datepicker-toggle matSuffix [for]="endingDate"></mat-datepicker-toggle>
            <mat-datepicker #endingDate></mat-datepicker>
          </mat-form-field>
        </div>

        <!--      Next step for first step-->
        <div class="col-span-2">
          <button [disabled]="!name || !frequency" class="next-btn zoom-on-hover" style="float: right" mat-button
                  matStepperNext>
            Next
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>

    </mat-step>
    <!--  Amount Information-->
    <mat-step>
      <ng-template matStepLabel>
        Amount Information
      </ng-template>
      <div class="grid gap-x-4 gap-y-2 grid-cols-2">
        <!--      Share price if type is share-->
        <div class="col-sm-6 mb-2" *ngIf="contributionType == 'Share'">
          <mat-form-field appearance="outline">
            <mat-label>Price per share <b>({{pricePerShare | number}})</b></mat-label>
            <input placeholder="Price per share" matInput type="number" [(ngModel)]="pricePerShare">
            <mat-hint *ngIf="pricePerShare" @fadeIn>buying price of share is <b>{{pricePerShare | number}}</b>
            </mat-hint>
          </mat-form-field>
        </div>

        <!--      Is Mandantory-->
        <div [ngClass]="{'col-span-1': contributionType == 'Share', 'col-span-2': contributionType != 'Share'}"
             class="" *ngIf="pricePerShare || contributionType != 'Share'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Is Mandatory?</mat-label>
            <mat-select [(ngModel)]="isMandatory" placeholder="Is this contribution mandatory"
                        (selectionChange)="setIsMandatory($event.value)">
              <mat-option value="Yes">Yes <small> (Each member must contribute)</small></mat-option>
              <mat-option value="No">No <small> (This contribution is optional)</small></mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--      is amount the same-->
        <div class="col-sm-6" *ngIf="isMandatory" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Is Amount Same?</mat-label>
            <mat-select [(ngModel)]="isAmountSame">
              <mat-option value="Yes">Yes <small> (Each member contribute same Amount)</small></mat-option>
              <mat-option value="No">No <small> (Each member contribute different Amount)</small></mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--      Fixed amount if amount is the same-->
        <div class="col-sm-6" *ngIf="isAmountSame == 'Yes'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Amount <b *ngIf="amount">({{amount | number}})</b> </mat-label>
            <input matInput type="number" [(ngModel)]="amount">
            <mat-hint *ngIf="amount" @fadeIn>Each member will contribute <b>{{amount | number}}</b></mat-hint>
          </mat-form-field>
        </div>

        <!--      Minimum Amount-->
        <div class="col-sm-6" *ngIf="isAmountSame == 'No'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Minimum Amount <b *ngIf="minimumAmount">({{minimumAmount | number}})</b></mat-label>
            <input matInput type="number" [(ngModel)]="minimumAmount">
            <mat-hint *ngIf="minimumAmount" @fadeIn>Each member will contribute a minimum of
              <b>{{minimumAmount | number}}</b></mat-hint>
          </mat-form-field>
        </div>

        <!--      is amount the same-->
        <div class="col-sm-6" *ngIf="contributionType && contributionType == 'Share'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Is There starting share amount {{group.country}} <span *ngIf="group.country == 'TZ'">
              (Kuna Hisa Anzia?)
            </span></mat-label>
            <mat-select [(ngModel)]="isStartingShare">
              <mat-option value="Yes">Yes </mat-option>
              <mat-option value="No">No </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <!--      Minimum Amount-->
        <div class="col-sm-6" *ngIf="isStartingShare == 'Yes'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Minimum Starting Amount <span *ngIf="group.country == 'TZ'">
              (Kiasi cha chini cha Kuanzia?)
            </span><b *ngIf="minimumStartingAmount">({{minimumStartingAmount | number}})</b></mat-label>
            <input matInput type="number" [(ngModel)]="minimumStartingAmount">
            <mat-hint *ngIf="minimumStartingAmount" @fadeIn>Each member will contribute a minimum of
              <b>{{minimumStartingAmount | number}}</b> at the start of share period</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-span-2">
          <button [disabled]="!(!!amount || !!minimumAmount)" class="next-btn zoom-on-hover" style="float: right"
                  mat-button matStepperNext>
            Next
            <mat-icon>arrow_forward</mat-icon>
          </button>
          <button class="next-btn zoom-on-hover" mat-button matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
            Back
          </button>
        </div>
      </div>
    </mat-step>

    <!--  Fine Information-->
    <mat-step>
      <ng-template matStepLabel>
        Fine & Loan Information
      </ng-template>
      <div class="grid grid-cols-2 gap-x-4 gap-y-2">
        <!--      Is loan Allowed-->
        <div class="col-span-2">
          <mat-form-field appearance="outline">
            <mat-label>Is loan allowed?</mat-label>
            <mat-select [(ngModel)]="allowLoan" >
              <mat-option value="Yes">Yes <small>(members are allowed to take loan from this contribution)</small>
              </mat-option>
              <mat-option value="No">No <small>(members are cannot take loan from this contribution)</small>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--      Is fine allowed-->
        <div class="col-sm-6" *ngIf="allowLoan" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Is there fine for late contribution?</mat-label>
            <mat-select [(ngModel)]="allowFine" (selectionChange)="setAllowFine($event)">
              <mat-option value="Yes">Yes</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <!--      Fine Amount-->
        <div class="col-sm-6" *ngIf="allowFine == 'Yes'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Fine Name</mat-label>
            <input matInput placeholder="Fine name" [(ngModel)]="fineName">
            <mat-hint>The name that will appear during contribution</mat-hint>
          </mat-form-field>
        </div>


        <!--      Fine Calculation type-->
        <div class="col-sm-6" *ngIf="allowFine == 'Yes'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Fine Calculation Type</mat-label>
            <mat-select [(ngModel)]="fineCalculationType">
              <mat-option value="Fixed">Fixed <small> (Member will pay a fixed amount of fine)</small></mat-option>
              <mat-option value="Amount per day">Amount per day <small> (Member will pay for each day delayed)</small>
              </mat-option>
              <mat-option value="Amount per week">Amount per week <small> (Member will pay for each week
                delayed)</small>
              </mat-option>
              <mat-option value="Amount per month">Amount per month <small> (Member will pay for each month
                delayed)</small></mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--      Fine Amount-->
        <div class="col-sm-6" *ngIf="fineCalculationType" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Fine Amount <b *ngIf="fineAmount"> ({{fineAmount | number}}) </b></mat-label>
            <input matInput placeholder="Fine amount" type="number" [(ngModel)]="fineAmount">
            <mat-hint *ngIf="fineAmount" @fadeIn>Member will pay a fine of <b>{{fineAmount | number}}
              ( {{fineCalculationType}} )</b></mat-hint>
          </mat-form-field>
        </div>

        <!--      Save Area-->
        <div class="col-span-2">
          <button class="next-btn zoom-on-hover" mat-button matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
            Back
          </button>
        </div>
        <div class="col-span-2 mt-2">
          <app-save-area
            [confirmFirst]="true"
            [saveDisabled]="!allowLoan || !allowFine || !frequency"
            (cancel)="close()"
            [savingData]="loading"
            (save)="sendData()"
          ></app-save-area>
        </div>
      </div>

    </mat-step>

  </mat-horizontal-stepper>

</div>
