.content-area {
  padding: 20px;
  border-radius: 20px;
  margin-right: 0;
  //border: 1px solid #ffffff5e;
  //box-shadow: 0 0 1em #00000096;
}
.title-grid {
  display: grid;
  grid-template-columns: auto;
}
