<div class="container-fluid">
  <div class="grid gap-x-4 gap-y-2 grid-cols-2">
<!--    <div class="col-sm-3" *ngIf="currentMember" style="border-right: 1px solid #ffffff21">-->
<!--      <p>{{currentMember?.name}} Loans</p>-->
<!--      <h3 class="registration-title" *ngIf="(memberLoans$ | async).length == 0">-->
<!--        There are no loan records for {{currentMember?.name}}-->
<!--      </h3>-->
<!--      <div *ngFor="let loan of memberLoans$ | async" class="item-grid"-->
<!--           style="margin-bottom: 20px;padding-bottom: 10px; border-bottom: 1px solid white">-->
<!--        <div>-->
<!--          <h3 class="registration-title mb-1" *ngIf="loan.remaining_balance > 0">-->
<!--            <small class="text-muted">{{group.currency}}</small>-->
<!--            {{loan.remaining_balance | number}}-->
<!--          </h3>-->
<!--          <h3 class="registration-title mb-1" *ngIf="loan.remaining_balance <= 0">-->
<!--            Paid-->
<!--          </h3>-->
<!--          <p class="secondary-text mb-0">-->
<!--            <b>{{loan.amount_paid_to_date | number}}</b> Paid of <b>{{loan.total_amount_to_pay | number}}</b>-->
<!--          </p>-->
<!--          <p class="secondary-text">-->
<!--            <small>-->
<!--              <b>{{loan.duration }}</b> {{ loan.durationName}}-->
<!--              ({{loan.date | date:'MMM YYYY'}} to {{loan.expected_date_of_payment | date| date:'MMM YYYY'}})-->
<!--            </small>-->
<!--          </p>-->
<!--        </div>-->
<!--        <div>-->
<!--          <button mat-icon-button (click)="editLoan(loan)">-->
<!--            <mat-icon style="color: white">edit</mat-icon>-->
<!--          </button>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
    <div class="col-span-2">
      <div class="grid gap-x-4 gap-y-2 grid-cols-2">
        <div [ngClass]="memberId ? 'col-span-1' : 'col-span-2'">
          <mat-form-field appearance="outline">
            <mat-label>Select Member</mat-label>
            <mat-select [(ngModel)]="memberId" (selectionChange)="setMember($event.value)">
              <app-mat-select-search [(ngModel)]="searchMembers"></app-mat-select-search>
              <mat-option *ngFor="let member of members | search:'name':searchMembers" [value]="member.id">
                {{member.name}} ({{member.phone_number}})
                <small *ngIf="member.subtitle">{{member.subtitle}}</small>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-span-1" *ngIf="memberId" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Loan Type</mat-label>
            <mat-select [(ngModel)]="loanTypeId" (selectionChange)="setLoanType($event.value)">
              <mat-option *ngFor="let member of loanTypes" [value]="member.id">
                {{member.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-span-1" *ngIf="loanTypeId" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Loan Start Date</mat-label>
            <input (dateChange)="setEndDate()" readonly matInput [matDatepicker]="startingDate"
                   [(ngModel)]="contributionDate"/>
            <mat-datepicker-toggle matSuffix [for]="startingDate"></mat-datepicker-toggle>
            <mat-datepicker #startingDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-span-1" *ngIf="contributionDate" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Amount Loaned <span *ngIf="loanAmount">({{loanAmount | number}})</span></mat-label>
            <input type="number" (input)="calculateLoan()" matInput [(ngModel)]="loanAmount"
                   placeholder="Amount Loaned">
          </mat-form-field>
        </div>
        <div class="col-span-1" *ngIf="loanAmount" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Loan duration ({{duration}} {{durationTYpe}})</mat-label>
            <input type="number" (input)="calculateLoan()" matInput [(ngModel)]="duration"
                   placeholder="Loan Duration in {{durationTYpe}}">
          </mat-form-field>
        </div>
        <div class="col-span-1" *ngIf="duration" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Loan End Date</mat-label>
            <input readonly matInput [matDatepicker]="endingDate" [(ngModel)]="endDate"/>
            <mat-datepicker-toggle matSuffix [for]="endingDate"></mat-datepicker-toggle>
            <mat-datepicker #endingDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div [ngClass]="currentLoanType && currentLoanType.is_insured ? 'col-sm-6' : 'col-sm-12'" class="col-sm-6"
             *ngIf="currentLoanType && currentLoanType.profit_type != 'Reducing Balance' && duration" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Amount to return <span *ngIf="returnAmount">({{returnAmount | number}})</span></mat-label>
            <input (input)="calculateTotal()" type="number" matInput [(ngModel)]="returnAmount"
                   placeholder="Amount to return">
          </mat-form-field>
        </div>
        <div class="col-sm-6" *ngIf="currentLoanType && currentLoanType.profit_type != 'Reducing Balance' && duration" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Amount per return <span *ngIf="amountPerReturn">({{amountPerReturn | number}})</span></mat-label>
            <input (input)="calculateTotal()" type="number" matInput [(ngModel)]="amountPerReturn"
                   placeholder="Amount to return">
          </mat-form-field>
        </div>
        <!--        <div class="col-sm-6" *ngIf="returnAmount">-->
        <!--          <mat-form-field appearance="outline">-->
        <!--            <mat-label>Amount returned to date <span *ngIf="returnedAmount">({{returnedAmount | number}})</span>-->
        <!--            </mat-label>-->
        <!--            <input (input)="setReturnedAmount($event)" type="number" matInput [(ngModel)]="returnedAmount"-->
        <!--                   placeholder="Amount returned to date">-->
        <!--          </mat-form-field>-->
        <!--        </div>-->
        <div class="col-span-1" *ngIf="currentLoanType && currentLoanType.is_insured && returnAmount" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Insurance Amount <span *ngIf="insuranceAmount">({{insuranceAmount | number}})</span></mat-label>
            <input type="number" matInput [(ngModel)]="insuranceAmount" placeholder="Amount returned to date">
          </mat-form-field>
        </div>

        <!--        <div class="col-sm-6" *ngIf="returnedAmount" @fadeIn>-->
        <!--          <mat-form-field appearance="outline">-->
        <!--            <mat-label>Last return Date</mat-label>-->
        <!--            <input readonly matInput [matDatepicker]="lastDate" [(ngModel)]="lastReturnDate"/>-->
        <!--            <mat-datepicker-toggle matSuffix [for]="lastDate"></mat-datepicker-toggle>-->
        <!--            <mat-datepicker #lastDate></mat-datepicker>-->
        <!--          </mat-form-field>-->
        <!--        </div>-->

        <div class="col-span-2" *ngIf="returnAmount" @fadeIn>
          <p class="registration-title">Payments</p>
          <table class="table table-bordered entry-table">
            <tr>
              <th *ngIf="group.track_contribution_period">Period</th>
              <th *ngIf="!group.track_contribution_period">Date</th>
              <th *ngIf="currentLoanType && currentLoanType.profit_type == 'Reducing Balance'">Loan Amount</th>
              <th *ngIf="currentLoanType && currentLoanType.profit_type == 'Reducing Balance'">Interest</th>
              <th *ngIf="currentLoanType && currentLoanType.profit_type == 'Reducing Balance'">Total Returned</th>
              <th *ngIf="currentLoanType && currentLoanType.profit_type != 'Reducing Balance'">Amount</th>
              <td style="width: 50px"></td>
            </tr>
            <tr *ngFor="let payment of payments">
              <td *ngIf="group.track_contribution_period">
                <app-period-selector
                  [currentMonth]="payment.month"
                  [currentYear]="payment.year"
                ></app-period-selector>
              </td>
              <th *ngIf="!group.track_contribution_period">
                {{payment.date | date}}
              </th>
              <td *ngIf="currentLoanType && currentLoanType.profit_type == 'Reducing Balance'">
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    placeholder="Payment Amount"
                    [(ngModel)]="payment.loan_amount"
                    (input)="calculateTotal()"
                  >
                </mat-form-field>
                <p class="mb-0">
                  <small class="text-muted">
                    From: <b>{{payment.previous_balance | number}}</b> to <b>{{payment.new_balance | number}}</b>
                  </small>
                </p>
              </td>
              <td *ngIf="currentLoanType && currentLoanType.profit_type == 'Reducing Balance'">
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    placeholder="Payment Amount"
                    [(ngModel)]="payment.interest_rate"
                    (input)="calculateTotal()"
                  >
                </mat-form-field>
              </td>
              <td *ngIf="currentLoanType && currentLoanType.profit_type == 'Reducing Balance'">
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    placeholder="Payment Amount"
                    [(ngModel)]="payment.amount"
                    (input)="calculateTotal()"
                  >
                </mat-form-field>
              </td>
              <td *ngIf="currentLoanType && currentLoanType.profit_type != 'Reducing Balance'">
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    placeholder="Payment Amount"
                    [(ngModel)]="payment.amount"
                    (input)="calculateTotal()"
                  >
                </mat-form-field>
                <p class="mb-0">
                  <small class="text-muted">
                    From: <b>{{payment.previous_balance | number}}</b> to <b>{{payment.new_balance | number}}</b>
                  </small>
                </p>
              </td>

              <td>
                <button mat-icon-button (click)="deletePay(payment)">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </td>
            </tr>

            <tr>
              <td *ngIf="group.track_contribution_period">
                <app-period-selector
                  (selected)="setMonthAndYear($event)"
                  [exclude]="excludedPeriods"
                  [clearAfterSelection]="true"
                ></app-period-selector>
              </td>
              <td *ngIf="!group.track_contribution_period">
                <mat-form-field appearance="outline">
                  <mat-label>Date</mat-label>
                  <input
                    (dateChange)="setDate()"
                    readonly
                    matInput
                    [min]="contributionDate"
                    [matDatepicker]="paymentDate1"
                    [(ngModel)]="paymentDate"
                  />
                  <mat-datepicker-toggle matSuffix [for]="paymentDate1"></mat-datepicker-toggle>
                  <mat-datepicker #paymentDate1></mat-datepicker>
                </mat-form-field>
              </td>
              <td colspan="2"></td>
            </tr>

            <tr>
              <th style="text-align: right">
                Total Paid
              </th>
              <th colspan="2" *ngIf="currentLoanType && currentLoanType.profit_type != 'Reducing Balance'">
                {{returnedAmount | number}}
              </th>
              <th *ngIf="currentLoanType && currentLoanType.profit_type == 'Reducing Balance'">
                {{totalReturns | number}}
              </th>
              <th  *ngIf="currentLoanType && currentLoanType.profit_type == 'Reducing Balance'">
                {{totalInterestRate | number}}
              </th>
              <th colspan="2" *ngIf="currentLoanType && currentLoanType.profit_type == 'Reducing Balance'">
                {{(totalReturns + totalInterestRate) | number}}
              </th>
            </tr>
          </table>
        </div>

        <div class="col-span-2" *ngIf="returnedAmount">
          <mat-form-field appearance="outline">
            <mat-label>Remaining Amount <span *ngIf="remainingBalance">({{remainingBalance | number}})</span>
            </mat-label>
            <input disabled type="number" matInput [(ngModel)]="remainingBalance" placeholder="Amount Remained">
          </mat-form-field>
        </div>
        <div class="col-span-2 mt-3" *ngIf="returnAmount" @fadeIn>
          <app-save-area
            [confirmFirst]="true"
            confirmText="Are you sure you want to assign a loan of {{returnAmount | number}} to {{currentMember.name}}?"
            [saveDisabled]="!returnAmount"
            (cancel)="onClose()"
            (save)="save()"
            [savingData]="loading"
          ></app-save-area>
        </div>
      </div>
    </div>
  </div>
</div>
