<app-shared-layout
  title="Group Setting"
  icon="settings"
  [viewDetails]="viewDetails"
  [smallForm]="false"
  [animationSize]="'full'"
  [formTitle]="panelTitle"
  (closeDetails)="closePanel()"
>
  <ng-container ngProjectAs="table">

    <div class="mb-4">
      <app-group-progress
        *ngIf="(progress$ | async) != 100"
      ></app-group-progress>
    </div>

    <app-menu-items
      *ngIf="(progress$ | async) == 100"
      [menus]="menus"
      (menuClicked)="menuClicked($event)"
    ></app-menu-items>

  </ng-container>

  <ng-container ngProjectAs="form">
    <app-starting-meeting-rules
      *ngIf="viewType == 'meeting'"
      [group]="group$ | async"
      [editing]="true"
      [fineTypes]="fineTypes$ | async"
      (closeForm)="closePanel()"
    ></app-starting-meeting-rules>

    <app-starting-leadership
      [group]="group$ | async"
      (closeForm)="closePanel()"
      *ngIf="viewType == 'leadership'"
    ></app-starting-leadership>

    <app-group-starting-info
      *ngIf="viewType == 'basic'"
      [group]="group$ | async"
      (closeForm)="closePanel()"
    ></app-group-starting-info>
  </ng-container>
</app-shared-layout>
