<app-shared-layout
  title="Welcome, {{memberName$ | async | firstUpperCase}}"
  icon="home"
>
  <ng-container ngProjectAs="table">

<!--    <app-save-loader></app-save-loader>-->

<!--    <app-half-progress></app-half-progress>-->

    <div class="mb-4 mr-2" *ngIf="(progress$ | async) != 100">
      <app-group-progress

      ></app-group-progress>
    </div>

<!--    <div class="loading-sign">-->
<!--      <div></div>-->
<!--      <div></div>-->
<!--      <div></div>-->
<!--      <div></div>-->
<!--    </div>-->

    <div class="first-dashboard-grid">
      <div [ngClass]="routeAnimationsElements">
        <app-contribution-summary></app-contribution-summary>
      </div>
      <div [ngClass]="routeAnimationsElements">
        <app-loan-summary [group]="group$ | async"></app-loan-summary>
      </div>
      <div [ngClass]="routeAnimationsElements">
        <app-upcoming-contribution-summary [group]="group$ | async"></app-upcoming-contribution-summary>
      </div>
      <div [ngClass]="routeAnimationsElements">
        <app-loan-queue-summary></app-loan-queue-summary>
      </div>
      <div [ngClass]="routeAnimationsElements">
        <app-fine-summary
          [group]="group$ | async"
        ></app-fine-summary>
      </div>
      <div [ngClass]="routeAnimationsElements">
        <app-expense-summary
          [group]="group$ | async"
        ></app-expense-summary>
      </div>
    </div>

    <div class="dashboard-grid">
      <div [ngClass]="routeAnimationsElements">
        <app-collection-summary></app-collection-summary>
      </div>
      <div [ngClass]="routeAnimationsElements" class="other-summary">
        <app-other-summary [group]="group$ | async"></app-other-summary>
      </div>
    </div>


<!--    <div class="row">-->
<!--      <div class="col-sm-8 mb-4" [ngClass]="routeAnimationsElements">-->
<!--        -->
<!--      </div>-->
<!--      <div class="col-sm-8 mt-2" [ngClass]="routeAnimationsElements">-->
<!--        -->
<!--      </div>-->
<!--      <div class="col-sm-4 mt-2" [ngClass]="routeAnimationsElements">-->
<!--        -->
<!--      </div>-->
<!--    </div>-->

  </ng-container>
</app-shared-layout>
