.inner-grid {
  display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 30px;
  align-content: center;
  //padding-left: 55px;
  padding-top: 10px;
  padding-bottom: 20px;
  .icon-area {
    background-color: #1d1e42;
    border-radius: 20px;
    padding: 40px 0 29px 5px;
    width: 50px;
  }
  mat-icon {
    font-size: 40px;
  }
  h1 {
    font-size: 25px;
    margin: 0;
  }
  p {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
.progress-block-parent {
  height: 12px;
}
.progress-block {
  height: 1px;
  display: inline-block;
}
.in {
  background-color: #1d1e42;
}
.out {
  background-color: #1d1e42;
}

.big-amount {
  letter-spacing: 2px;
}

.currency-area {
  font-size: 11px!important;
}

.text-muted {
  color: #ffffff8a!important;
}

.inner1-grid {
  //padding-left: 55px;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  margin-top: -60px;
  margin-left: 70px;
  .inner1-item-grid {
    display: grid;
    grid-template-columns: 30px auto;
    align-content: center;
    margin-bottom: 5px;

    p {
      margin-bottom: 0;
      font-size: 13px;
    }
    h1 {
      font-size: 20px;
      margin-bottom: 0;
    }

    .img-area {
      padding: 14px 6px 9px 10px;
      height: 85%;
      margin-top: 5px;
      width: 10px;
    }
  }
}

.justify-end {
  //justify-content: end;
}

.end-justify {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.green {
  color: greenyellow
}

.normal {
  color: orangered;
}

.down-amount {
  color: #ffffffc7;
}
