<div class="row" [ngClass]="{'end-justify': justifyRight}">
  <div class="col-sm-12 inner-grid" (click)="onAmountClick()" >
    <div class="icon-area">
      <mat-icon [ngClass]="iconClass">{{icon}}</mat-icon>
    </div>
    <div>
      <p class="text-muted">{{amountTitle}}
        <span class="currency-area">({{group?.currency}})</span>
      </p>
      <h1 class="registration-title big-amount">{{amount | number}}</h1>
    </div>
  </div>

  <!--            Sub summary area-->
  <div class="col-sm-12 inner1-grid">
    <div class="inner1-item-grid" (click)="onLeftClick()" >
      <div class="img-area in">
      </div>
      <div>
        <p class="text-muted">{{leftTitle}}</p>
        <h1 class="registration-title down-amount"> {{leftAmount | number}}</h1>
      </div>
    </div>
    <div class="inner1-item-grid " (click)="onRightClicked()">
      <div class="img-area out"></div>
      <div>
        <p class="text-muted">{{rightTitle}}</p>
        <h1 class="registration-title down-amount"> {{rightAmount | number}}</h1>
      </div>
    </div>
  </div>
</div>
