.loan-title-grid {
  display: grid;
  grid-template-columns: 120px auto;
  margin-bottom: 15px;
  grid-gap: 15px;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;

  .details-grid-item {
    display: grid;
    grid-template-columns: 10px auto;
    grid-gap: 10px;

    .shade {
      background-color: #ffffff52;
      width: 9px;
      height: 40px;
      margin-top: 6px;
    }
  }

  .registration-title {
    font-size: 25px!important;
  }
}
