<app-shared-layout title="Change Password" icon="lock">
  <ng-container ngProjectAs="table">
    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-8 p-0" @fadeIn>
              <mat-form-field appearance="fill">
                <mat-label>Current Password</mat-label>
                <input [(ngModel)]="currentPassword" matInput type="password" placeholder="Enter current password" #myInput>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-8 p-0" @fadeIn>
              <mat-form-field appearance="fill">
                <mat-label>New Password</mat-label>
                <input [(ngModel)]="passWord" matInput type="password" placeholder="Enter new password" #myInput>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-8 p-0" @fadeIn>
              <mat-form-field appearance="fill">
                <mat-label>Confirm New Password</mat-label>
                <input [(ngModel)]="confirmPassword" matInput type="password" placeholder="Confirm password" #myInput>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 mt-3" @fadeIn>
        <app-save-area [confirmFirst]="true" [showCancel]="false" (save)="save()"
          [saveDisabled]="!passWord || (confirmPassword !== passWord)" [savingData]="loading">
        </app-save-area>
      </div>
    </div>
  </ng-container>
</app-shared-layout>