<div class="container-fluid">
  <div class="flex">
    <div class="w-10/12">
      <h2 class="registration-title">{{data.progressDetails?.title || 'Group basic information'}}</h2>
    </div>
    <div class="w-2/12 pr-0" style="text-align: right">
      <button mat-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
        <span> Close</span>
      </button>
    </div>
  </div>
  <div class="w-full">

    <div class="col-sm-12 mt-3" *ngIf="data.progressDetails">
      <!--      Adding group basic informatoin-->
      <app-group-starting-info
        *ngIf="data.progressDetailsKey == progressDetailsEnum.AddBasicInformation"
        [group]="data.group"
        (closeForm)="closeDialog()"
      ></app-group-starting-info>

      <!--      Adding contribution types-->
      <app-starting-contribution-type
        *ngIf="data.progressDetailsKey == progressDetailsEnum.AddContribution"
        [group]="data.group"
        [progressDetails]="data.progressDetails"
        (closeForm)="closeDialog()"
      ></app-starting-contribution-type>

      <!--      Adding Loan types-->
      <app-starting-loan-type
        *ngIf="data.progressDetailsKey == progressDetailsEnum.AddLoanInformation"
        [group]="data.group"
        [progressDetails]="data.progressDetails"
        (closeForm)="closeDialog()"
      ></app-starting-loan-type>

      <!--      Adding Loan types-->
      <app-starting-meeting-rules
        *ngIf="data.progressDetailsKey == progressDetailsEnum.AddMeetingInformation"
        [group]="data.group"
        [progressDetails]="data.progressDetails"
        (closeForm)="closeDialog()"
      ></app-starting-meeting-rules>

      <!--      Add members-->
      <app-starting-members
        *ngIf="data.progressDetailsKey == progressDetailsEnum.AddMembers"
        [group]="data.group"
        [currentMemberName]="data.memberName"
        (closeForm)="closeDialog()"
      ></app-starting-members>

      <!--     Define Leadership-->
      <app-starting-leadership
        *ngIf="data.progressDetailsKey == progressDetailsEnum.AddLeadershipInformation"
        [group]="data.group"
        (closeForm)="closeDialog()"
      ></app-starting-leadership>

      <app-starting-balances
        *ngIf="data.progressDetailsKey == progressDetailsEnum.AddContributionBalances"
        [group]="data.group"
        [contributions_need_balances]="data.contributionTypeNeedBalance"
        (closeForm)="closeDialog()"
      ></app-starting-balances>
    </div>
  </div>
</div>
