<div
  class="container-fluid"
  style="padding-left: 25px; padding-top: 25px; padding-right: 25px; background-color: #1d1d42"
>
  <div class="flex">
    <div [ngClass]="{'w-full': (isHandset$ | async), 'w-10/12': !(isHandset$ | async)}">
      <h1 style="font-size: 27px" class="registration-title flex flex-row gap-1 items-baseline" [ngClass]="routeAnimationsElements">
        <img
          alt="image"
          *ngIf="image"
          class="mr-2"
          [src]="'assets/images/icons/'+image"
          style="padding: 4px; height: 32px; margin-top: -15px; border-radius: 11px; background-color: #ffffffa6"
        >
        <mat-icon *ngIf="icon" style="font-size: 27px">{{icon}}</mat-icon>&nbsp;
        <b *ngIf="url">
          <a style="color: #fbfbfba3;" [routerLink]="url">{{urlName}}</a> /
        </b>
        {{ title }}
        <span class="text-muted" *ngIf="subtitle" style="font-size: 13px!important;">({{subtitle}})</span>

      </h1>

    </div>
    <div class="w-2/12" style="text-align: right" *ngIf="!(isHandset$ | async)">
      <button mat-icon-button title="Get Help Here" (click)="openHelp()">
        <mat-icon style="color: white">help_outline</mat-icon>
      </button>
    </div>
  </div>



</div>
