<h3 *ngIf="!(alreadyLogedInBefore)" class="registration-title" [ngClass]="routeAnimationsElements"
  style="text-align: center" @fadeIn>
  Welcome {{memberName}}
</h3>
<h3 *ngIf="alreadyLogedInBefore" class="registration-title" [ngClass]="routeAnimationsElements"
  style="text-align: center" @fadeIn>
  Welcome Back {{memberName}} <br>
  <small class="registration-title" style="color: rgb(194, 192, 192);">{{phoneNumber}} <span style="cursor: pointer;"
      (click)="changePhone()">(Login with another account?)</span></small>
</h3>
<!-- <h4 class="registration-title" *ngIf="alreadyLogedInBefore" style="text-align: center; color: #F15A28;">{{phoneNumber}}
</h4> -->
<div [ngClass]="routeAnimationsElements" style="text-align: center" @fadeIn>
  <div class="time-picker-component" style="width: 300px">
    <mat-form-field appearance="fill">
      <mat-label>Enter Your Password</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input [(ngModel)]="password" (keyup.enter)="password && password.length > 5 ? login() : null" matInput
        [type]="hide ? 'password' : 'text'" placeholder="Enter Your Password" #myInput>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

    </mat-form-field>
  </div>
</div>
<div style="width: 310px" *ngIf="loading" @fadeIn>
  <mat-progress-bar style="color: #ffed00" mode="indeterminate"></mat-progress-bar>
  <p>Loggin you in...</p>
</div>

<div style="width: 300px; cursor: pointer;" class="time-picker-component" (click)="changePhone()" align="right">
  <div class="registration-title" style="font-size:12px; color: #F15A28;">Forgot password?</div>
</div>
<div *ngIf="(password && password.length > 5)" @fadeIn [ngClass]="routeAnimationsElements" style="text-align: center">
  <button [disabled]="loading" class="registration-button" mat-raised-button (click)="login()">
    Login
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>