<h3 class="registration-title" [ngClass]="routeAnimationsElements" style="text-align: center" @fadeIn>
  Welcome {{memberName}}
</h3>
<div [ngClass]="routeAnimationsElements" style="text-align: center" @fadeIn>
  <div class="time-picker-component" style="width: 300px">
    <mat-form-field appearance="fill">
      <mat-label>Enter Your Password</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input
        [(ngModel)]="password"
        (keyup.enter)="password && password.length > 5 ? login() : null"
        matInput
        [type]="hide ? 'password' : 'text'"
        placeholder="Enter Your Password"
        #myInput
      >
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

    </mat-form-field>
  </div>
</div>
<div style="width: 310px" *ngIf="loading" @fadeIn>
  <mat-progress-bar style="color: #ffed00" mode="indeterminate" ></mat-progress-bar>
  <p>Loggin you in...</p>
</div>
<div *ngIf="(password && password.length > 5)" @fadeIn [ngClass]="routeAnimationsElements" style="text-align: center">
  <button [disabled]="loading" class="registration-button" mat-raised-button (click)="login()">
    Login
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>

