<div class="row content-area ml-0" >
  <div class="col-sm-12 pr-0" [ngClass]="showTitle ? 'title-grid' : 'title-grid1'">
    <div *ngIf="showTitle" style="display: grid;align-content: center">
      <h3 class="registration-title mb-1" *ngIf="group$ | async">
        Transactions
        <span *ngIf="currentContr != 'All' && (group$ | async).contribution_balances && (group$ | async).contribution_balances[currentContr]" @fadeIn>
          (Balance
          <small style="color: white">{{(group$ | async)?.currency}}</small>&nbsp;
          <span class="registration-title">
            {{(group$ | async).contribution_balances[currentContr] | number}}
          </span>
          )
        </span>
      </h3>
    </div>

    <div class="selection-area" [ngClass]="showTitle ? 'pull-right' : 'pull-left'">
      <mat-menu #fineTypeMenu="matMenu">
        <button
          mat-menu-item
          (click)="currentContr = 'All';typeName = 'All'; getData()">
          All
        </button>
        <button
          *ngFor="let contr of contributionTypes$ | async"
          (click)="currentContr = contr.id;typeName = contr.name;  getData()"
          mat-menu-item>
          {{contr.name}}
        </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="fineTypeMenu" class="cursor">
        <span>{{typeName}}</span> &nbsp;
        <mat-icon style="color: white;">arrow_drop_down</mat-icon>
      </button>
    </div>

    <div style="text-align: end">

      <mat-menu #yearMenu="matMenu">
        <button mat-menu-item (click)="setYear('All')">All Years</button>
        <button *ngFor="let yr of years$ | async" mat-menu-item (click)="setYear(yr)">{{yr}}</button>
      </mat-menu>
      <small class="text-muted">For</small>
      <button style="padding-right: 0" mat-button [matMenuTriggerFor]="yearMenu" class="cursor">
        <mat-icon>date_range</mat-icon> &nbsp;
        <span>{{year === 'All' ? 'All Years' : year}}</span> &nbsp;
        <mat-icon style="color: white;">arrow_drop_down</mat-icon>
      </button>
    </div>
  </div>

  <div class="col-sm-12 summary-grid">
    <div class="content-area1">
      <app-collection-card
        [group]="group$ | async"
        [amount]="totalIn$ | async"
        amountTitle="Total In"
        leftTitle="Contributions + fines"
        [leftAmount]="(totalContributionOnly$ | async) + (totalFinesPaid$ | async)"
        rightTitle="Loan Payments"
        [rightAmount]="totalLoanReturns$ | async"
        (amountClicked)="openSummary('Total Contributions', 'all_contribution')"
        (leftClicked)="openSummary('Contribution and Fines ' + year, 'contr_and_fines')"
        (rightClicked)="openSummary('Loan Payments ' + year, 'loan_payment')"
      ></app-collection-card>

      <app-collection-card
        [group]="group$ | async"
        [amount]="totalOut$ | async"
        amountTitle="Total Out"
        leftTitle="Expenses"
        [leftAmount]="totalExpenses$ | async"
        rightTitle="Loan Out"
        [rightAmount]="totalLoanOut$ | async"
        icon="arrow_upward"
        iconClass="normal"
        [justifyRight]="true"
        (amountClicked)="openSummary('Loans and Expenses', 'loans_expenses')"
        (leftClicked)="openSummary('Expenses ' + year, 'expenses')"
        (rightClicked)="openSummary('Loans ' + year, 'loans')"
      ></app-collection-card>
    </div>
  </div>
</div>
