<div class="row content-area">
  <div class="col-sm-12" [ngClass]="showTitle ? 'title-grid' : 'title-grid1'">
    <div *ngIf="showTitle" style="display: grid;align-content: center">
      <h3 class="registration-title mb-1" *ngIf="group$ | async">
        Contribution Summary
        <span *ngIf="currentContr != 'All' && (group$ | async).contribution_balances && (group$ | async).contribution_balances[currentContr]" @fadeIn>
          (Balance
          <small style="color: white">{{(group$ | async)?.currency}}</small>&nbsp;
          <span class="registration-title">
            {{(group$ | async).contribution_balances[currentContr] | number}}
          </span>
          )
        </span>
      </h3>
    </div>

    <div class="selection-area" [ngClass]="showTitle ? 'pull-right' : 'pull-left'">
      <mat-menu #fineTypeMenu="matMenu">
        <button
          mat-menu-item
          (click)="currentContr = 'All';typeName = 'All'; getData()">
          All
        </button>
        <button
          *ngFor="let contr of contributionTypes$ | async"
          (click)="currentContr = contr.id;typeName = contr.name;  getData()"
          mat-menu-item>
          {{contr.name}}
        </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="fineTypeMenu" class="cursor">
        <span>{{typeName}}</span> &nbsp;
        <mat-icon style="color: white;">arrow_drop_down</mat-icon>
      </button>
    </div>

    <div style="text-align: end">

      <mat-menu #yearMenu="matMenu">
        <button *ngFor="let yr of years$ | async" mat-menu-item (click)="setYear(yr)">{{yr}}</button>
      </mat-menu>
      <small class="text-muted">For</small>
      <button mat-button [matMenuTriggerFor]="yearMenu" class="cursor">
        <mat-icon>date_range</mat-icon> &nbsp;
        <span>{{year}}</span> &nbsp;
        <mat-icon style="color: white;">arrow_drop_down</mat-icon>
      </button>
    </div>
  </div>

  <!--  <div class="col-sm-12">-->
  <!--    <div class="filter-grid">-->
  <!--      <div class="selection-area">-->
  <!--        <mat-menu #fineTypeMenu="matMenu">-->
  <!--          <button-->
  <!--            mat-menu-item-->
  <!--            (click)="currentContr = 'All';typeName = 'All'; getData()">-->
  <!--            All-->
  <!--          </button>-->
  <!--          <button-->
  <!--            *ngFor="let contr of contributionTypes$ | async"-->
  <!--            (click)="currentContr = contr.id;typeName = contr.name;  getData()"-->
  <!--            mat-menu-item>-->
  <!--            {{contr.name}}-->
  <!--          </button>-->
  <!--        </mat-menu>-->

  <!--&lt;!&ndash;        <button mat-button [matMenuTriggerFor]="fineTypeMenu" class="cursor">&ndash;&gt;-->
  <!--&lt;!&ndash;          &lt;!&ndash;              <mat-icon>date_range</mat-icon> &nbsp;&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;          <span>{{typeName}}</span> &nbsp;&ndash;&gt;-->
  <!--&lt;!&ndash;          <mat-icon style="color: white;">arrow_drop_down</mat-icon>&ndash;&gt;-->
  <!--&lt;!&ndash;        </button>&ndash;&gt;-->

  <!--        <button-->
  <!--          class="zoom-on-hover selector"-->
  <!--          mat-flat-button-->
  <!--          (click)="currentContr = 'All'; getData()"-->
  <!--          [ngClass]="{'active': currentContr == 'All'}"-->
  <!--        >-->
  <!--          All-->
  <!--        </button>-->
  <!--        <button-->
  <!--          class="zoom-on-hover selector"-->
  <!--          mat-flat-button-->
  <!--          *ngFor="let contr of contributionTypes$ | async"-->
  <!--          (click)="currentContr = contr.id; getData()"-->
  <!--          [ngClass]="{'active': currentContr == contr.id}"-->
  <!--        >-->
  <!--          {{contr.name}}-->
  <!--        </button>-->
  <!--      </div>-->

  <!--&lt;!&ndash;      <div style="text-align: end">&ndash;&gt;-->

  <!--&lt;!&ndash;        <mat-menu #yearMenu="matMenu">&ndash;&gt;-->
  <!--&lt;!&ndash;          <button *ngFor="let yr of years$ | async" mat-menu-item (click)="setYear(yr)">{{yr}}</button>&ndash;&gt;-->
  <!--&lt;!&ndash;        </mat-menu>&ndash;&gt;-->

  <!--&lt;!&ndash;        <small class="text-muted">For</small>&ndash;&gt;-->
  <!--&lt;!&ndash;        <button mat-button [matMenuTriggerFor]="yearMenu" class="cursor">&ndash;&gt;-->
  <!--&lt;!&ndash;          <mat-icon>date_range</mat-icon> &nbsp;&ndash;&gt;-->
  <!--&lt;!&ndash;          <span>{{year}}</span> &nbsp;&ndash;&gt;-->
  <!--&lt;!&ndash;          <mat-icon style="color: white;">arrow_drop_down</mat-icon>&ndash;&gt;-->
  <!--&lt;!&ndash;        </button>&ndash;&gt;-->


  <!--&lt;!&ndash;      </div>&ndash;&gt;-->
  <!--    </div>-->
  <!--  </div>-->
  <div class="col-sm-12 summary-grid">
    <div class="content-area1">
      <app-collection-card
        [group]="group$ | async"
        [amount]="totalIn$ | async"
        amountTitle="Total In"
        leftTitle="Contributions"
        [leftAmount]="totalContributions$ | async"
        rightTitle="Loan Payments"
        [rightAmount]="totalLoanReturns$ | async"
      ></app-collection-card>

      <app-collection-card
        [group]="group$ | async"
        [amount]="totalOut$ | async"
        amountTitle="Total Out"
        leftTitle="Expenses"
        [leftAmount]="totalExpenses$ | async"
        rightTitle="Loan Out"
        [rightAmount]="totalLoanOut$ | async"
        icon="arrow_upward"
        iconClass="normal"
        [justifyRight]="true"
      ></app-collection-card>
    </div>
  </div>
</div>
