<div class="grid grid-cols-2 gap-x-4 gap-y-2">
  <!--  Meeting Frequency-->
  <div class="transition-element" [ngClass]="!!meetingFrequency && meetingFrequency != 'No Meeting' ? 'col-span-1' : 'col-span-2'">
    <mat-form-field appearance="outline">
      <mat-label>Meeting Frequency</mat-label>
      <mat-select [(ngModel)]="meetingFrequency">
        <mat-option value="Monthly">Monthly <small> (Group meet every Month)</small></mat-option>
        <mat-option value="Weekly">Weekly <small> (Group meet every Week)</small></mat-option>
        <mat-option value="Random">Random <small> (There is no defined meeting timetable)</small></mat-option>
        <mat-option value="No Meeting">No meeting <small> (Group has no meetings)</small></mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!--  Member must attend meeting-->
  <div class="col-span-1" *ngIf="!!meetingFrequency && meetingFrequency != 'No Meeting'">
    <mat-form-field appearance="outline">
      <mat-label>Member must attend meeting</mat-label>
      <mat-select [(ngModel)]="memberMustAttend">
        <mat-option value="Yes">Yes</mat-option>
        <mat-option value="No">No</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <hr  *ngIf="memberMustAttend == 'Yes'" @fadeIn class="col-span-2">
  <div class="col-span-2" *ngIf="memberMustAttend == 'Yes'" @fadeIn>
    <h4 class="registration-title">Fine for being late to the meeting</h4>
  </div>

  <!--  Is there fine for being late to the meeting?-->
  <div [ngClass]="allowFineForLate == 'Yes' ? 'col-span-1' : 'col-span-2'" class="transition-element" *ngIf="memberMustAttend == 'Yes'" @fadeIn>
    <mat-form-field appearance="outline">
      <mat-label>Is there fine for being late to the meeting?</mat-label>
      <mat-select [(ngModel)]="allowFineForLate" (selectionChange)="setLateMeetingFine($event)">
        <mat-option value="Yes">Yes (Members will be charged for being late)</mat-option>
        <mat-option value="No">No (There is no fine for being late)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!--      Fine Amount-->
  <div class="col-span-1" *ngIf="allowFineForLate == 'Yes'">
    <mat-form-field appearance="outline">
      <mat-label>Fine Name</mat-label>
      <input matInput placeholder="Name Fine for being late" [(ngModel)]="lateFineName">
    </mat-form-field>
  </div>

  <!--      Fine Amount-->
  <div class="col-span-1" *ngIf="allowFineForLate == 'Yes'">
    <mat-form-field appearance="outline">
      <mat-label>Fine Amount ({{lateFineAmount | number}})</mat-label>
      <input matInput placeholder="Fine for being late" type="number" [(ngModel)]="lateFineAmount">
    </mat-form-field>
  </div>


  <div class="col-span-1" *ngIf="allowFineForLate == 'Yes'" @fadeIn>
    <mat-form-field appearance="outline">
      <mat-label>Fines should be added to</mat-label>
      <mat-select [(ngModel)]="addLateFineTo" placeholder="Late meeting fine should be added to">
        <mat-option *ngFor="let contr of contributionTypes$ | async" [value]="contr.id">
          {{contr.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <hr *ngIf="memberMustAttend == 'Yes' && allowFineForLate" @fadeIn class="col-span-2">
  <div class="col-span-2" *ngIf="memberMustAttend == 'Yes' && allowFineForLate" @fadeIn>
    <h4 class="registration-title">Fine for not attending meeting</h4>
  </div>
  <!--  Fine for not attending the meeting-->
  <div [ngClass]="allowFineForNotAttending == 'Yes' ? 'col-span-1' : 'col-span-2'"  class="transition-element" *ngIf="memberMustAttend == 'Yes' && allowFineForLate" @fadeIn>
    <mat-form-field appearance="outline">
      <mat-label>Is there fine for not attending meeting?</mat-label>
      <mat-select [(ngModel)]="allowFineForNotAttending" (selectionChange)="setNotAttendingLMeetingFine($event)">
        <mat-option value="Yes">Yes (Members will be charged for not attending meeting)</mat-option>
        <mat-option value="No">No (There is no fine for not attending meeting)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!--      Fine Amount-->
  <div class="col-sm-6" *ngIf="allowFineForNotAttending == 'Yes'">
    <mat-form-field appearance="outline">
      <mat-label>Fine Name</mat-label>
      <input matInput placeholder="Fine for not attending meeting" [(ngModel)]="notAttendingFineName">
    </mat-form-field>
  </div>


  <!--      Fine Amount-->
  <div class="col-sm-6" *ngIf="allowFineForNotAttending == 'Yes'" @fadeIn>
    <mat-form-field appearance="outline">
      <mat-label>Fine Amount ({{notAttendingFineAmount | number}})</mat-label>
      <input matInput placeholder="Fine for not attending meeting" type="number" [(ngModel)]="notAttendingFineAmount">
    </mat-form-field>
  </div>

  <div class="col-sm-6" *ngIf="allowFineForNotAttending == 'Yes'" @fadeIn>
    <mat-form-field appearance="outline">
      <mat-label>Fines should be added to</mat-label>
      <mat-select [(ngModel)]="addNotAttendingFineTo" placeholder="Fine for not attending a meeting should be added to">
        <mat-option *ngFor="let contr of contributionTypes$ | async" [value]="contr.id">
          {{contr.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-span-2">
    <app-save-area
      [saveDisabled]="!meetingFrequency
      || (meetingFrequency != 'No Meeting' && !memberMustAttend)
      || (memberMustAttend == 'Yes' && allowFineForNotAttending == 'Yes' && !notAttendingFineAmount)
      || (memberMustAttend == 'Yes' && allowFineForLate == 'Yes' && !lateFineAmount)
      || (memberMustAttend == 'Yes' && (!allowFineForNotAttending && !allowFineForLate))"
      [confirmFirst]="true"
      confirmText="Are you sure you want to save meeting details?"
      (cancel)="close()"
      (save)="save()"
      [savingData]="loading"
    ></app-save-area>
  </div>
</div>
