<div class="container-fluid">
  <div class="row">
    <!--    Meeting Date-->
    <div class="col-sm-12">
      <mat-form-field appearance="outline">
        <mat-label>Meeting Date</mat-label>
        <input readonly matInput [matDatepicker]="endingDate" [(ngModel)]="meetingDate"/>
        <mat-datepicker-toggle matSuffix [for]="endingDate"></mat-datepicker-toggle>
        <mat-datepicker #endingDate></mat-datepicker>
      </mat-form-field>
    </div>

    <!--    Meeting Place-->
    <div class="col-sm-12" *ngIf="meetingDate" @fadeIn>
      <mat-form-field appearance="outline">
        <mat-label>Meeting Place</mat-label>
        <textarea rows="2" matInput [(ngModel)]="meetingPlace"></textarea>
      </mat-form-field>
    </div>

    <div class="col-sm-12 mt-2">
      <h3 class="registration-title mb-0">
        Attendance
      </h3>
      <p class="mb-1" style="color: #ffffffa8; font-size: 12px">Select members present in this meeting</p>
      <p>
        <mat-checkbox [(ngModel)]="allSelected" (change)="setAllAttended($event)">
          <span *ngIf="!allSelected">Select All</span>
          <span *ngIf="allSelected">Unselect All</span>
        </mat-checkbox>
      </p>
    </div>

    <div class="col-sm-12 mt-1 cursor">
      <div class="members-grid">
        <div
          [ngClass]="{'active': attendance[member.id]}"
          class="member-grid"
          *ngFor="let member of members"
          (click)="selectMember(member)"
        >
          <div class="img-div">
            <h1 style="font-size: 20px; color: white" class="registration-title">{{member.name[0].toUpperCase()}}</h1>
          </div>
          <div>
            <h2 class="registration-title mb-1" style="font-size: 17px">{{member.name}}</h2>
            <p class="lead">{{member.phone_number}}</p>
          </div>
          <div style="display: grid; align-content: center">
            <!--              <mat-checkbox [(ngModel)]="attendance[member.id]"></mat-checkbox>-->
            <mat-icon *ngIf="attendance[member.id]" style="color: #F15A28">check_box</mat-icon>
            <mat-icon *ngIf="!attendance[member.id]">check_box_outline_blank</mat-icon>
          </div>
        </div>

      </div>

    </div>

    <div class="col-sm-12 mt-4">
      <mat-form-field appearance="outline">
        <mat-label>Meeting Notes <small class="text-muted">(Optional)</small></mat-label>
        <textarea matInput rows="4" placeholder="Meeting Notes" [(ngModel)]="notes"></textarea>
      </mat-form-field>
    </div>

    <!--    Save Area-->
    <div class="col-sm-12 mt-3" *ngIf="meetingPlace && meetingPlace.length > 2" @fadeIn>
      <app-save-area
        [confirmFirst]="true"
        confirmText="Confirm conducting a meeting on {{meetingDate | date}} at {{meetingPlace}}"
        (cancel)="onClose()"
        [saveText]="editing ? 'Update Meeting' : 'Complete Meeting'"
        saveIcon="check"
        (save)="save()"
        [savingData]="loading"
      ></app-save-area>
    </div>
  </div>
</div>
