<div class="container-fluid">
  <div class="row">
    <!--    Meeting Date-->
    <div class="col-sm-12">
      <mat-form-field appearance="outline">
        <mat-label>Meeting Date</mat-label>
        <input readonly matInput [matDatepicker]="endingDate" [(ngModel)]="meetingDate"/>
        <mat-datepicker-toggle matSuffix [for]="endingDate"></mat-datepicker-toggle>
        <mat-datepicker #endingDate></mat-datepicker>
      </mat-form-field>
    </div>

    <!--    Meeting Place-->
    <div class="col-sm-12" *ngIf="meetingDate" @fadeIn>
      <mat-form-field appearance="outline">
        <mat-label>Meeting Place</mat-label>
        <textarea rows="2" matInput [(ngModel)]="meetingPlace"></textarea>
      </mat-form-field>
    </div>

    <div class="col-sm-12 mt-2">
      <h3 class="registration-title">
        Attendance
      </h3>
    </div>

    <div class="col-sm-12 mt-1 zoom-on-hover1 cursor" >
        <div class="members-grid">
          <div class="member-grid content-area" *ngFor="let member of members">
            <div class="img-div">
              <h1 style="font-size: 20px; color: white" class="registration-title">{{member.name[0].toUpperCase()}}</h1>
            </div>
            <div>
              <h2 class="registration-title mb-1">{{member.name}}</h2>
              <p class="lead">{{member.phone_number}}</p>
            </div>
            <div>
              <mat-checkbox></mat-checkbox>
            </div>
          </div>

        </div>

    </div>

    <!--    Save Area-->
    <div class="col-sm-12 mt-3" *ngIf="meetingPlace && meetingPlace.length > 2" @fadeIn>
      <app-save-area
        [confirmFirst]="true"
        confirmText="Confirm setting next meeting to be held on {{meetingDate | date}} at {{meetingPlace}}"
        (cancel)="onClose()"
        (save)="save()"
        [savingData]="loading"
      ></app-save-area>
    </div>
  </div>
</div>
