<app-top-banner
  [title]="title"
  [image]="image"
  [icon]="icon"
  [showHelp]="showHelp"
  [menuItems]="menus"
  *ngIf="!hideBreadcrumb"
>
</app-top-banner>
<div>
  <div class="ks-nav-body-wrapper" [ngClass]="routeAnimationsElements">
    <div class="container-fluid p-4" >
      <div class="row">
        <div class="col-md-12">
          <div
            [@tableSize]="
              viewDetails ? (smallForm ? 'eighty' : animationSize) : 'hundred'
            "
            class="no-print"
          >
            <ng-content select="table"></ng-content>
          </div>

          <div
            [@formSize]="
              viewDetails ? (smallForm ? 'twenty' : animationSize) : 'zero'
            "
          >
            <h5 class="mat-divider-title no-print mt-1 row pl-3 pr-3">
              <button mat-icon-button (click)="closeForm()">
                <mat-icon>arrow_back</mat-icon>
              </button>
              <span *ngIf="formTitle" style="margin-top: 10px;">
                {{ formTitle }}
              </span>
              <span class="example-fill-remaining-space"></span>
              <button
                mat-button
                title="Close Form"
                (click)="closeForm()"
                class="fa-pull-right cursor close-button"
              >
                <mat-icon>close</mat-icon> Close
              </button>
            </h5>
            <mat-divider class="no-print"></mat-divider>
            <p *ngIf="loading">Saving Data...</p>
            <mat-progress-bar mode="indeterminate" *ngIf="loading">
            </mat-progress-bar>
            <mat-card>
              <ng-content select="form"></ng-content>
            </mat-card>
          </div>
          <!-- /.col-md-12 -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container>
  <div class="col-md-12" *ngIf="!viewDetails">
    <button
      *ngIf="!hideAdd"
      title="Add"
      (click)="add()"
      color="primary"
      class="add-item"
      mat-raised-button
    >
      <mat-icon>{{addIcon}}</mat-icon>
      {{addText}}
    </button>
  </div>
</ng-container>
