<app-shared-layout
  title="Loan Queue"
  image="loan-queue.png"
  [hideAdd]="(loanQueue$ | async).length == 0"
  [addIcon]="'add'"
  (addItem)="addLoanType()"
  [addText]="'Add to queue'"
  [viewDetails]="viewDetails"
  [smallForm]="false"
  [animationSize]="'full'"
  [formTitle]="panelTitle"
  (closeDetails)="closePanel()"
  urlName="Summary"
  [url]="['', 'summary']"
>
  <ng-container ngProjectAs="table">
    <app-empty-summary
      incompleteText="Some information needed to set loan queue have not been defined yet!"
      [infoNotComplete]="(loanTypes$ | async)?.length == 0"
      [itemsExists]="(loanQueue$ | async)?.length > 0"
      imageSrc="share-and-expenses.png"
      title="No one waiting for loan now"
      subTitle="You can add members to a waiting list for different types of loans."
      addTitle="Add member to queue"
      (addClicked)="addLoanType()"
    ></app-empty-summary>

    <div class="main-expense-grid">
      <app-single-loan-queue-item
        *ngFor="let loanQueue of loanQueue$ | async"
        [loanQueue]="loanQueue"
        [group]="group$ | async"
        (addLoan)="addLoan($event)"
        (removeFromQueue)="removeFromQueue($event)"
      >
      </app-single-loan-queue-item>
    </div>
  </ng-container>

  <ng-container ngProjectAs="form">
    <app-add-loan-queue
      *ngIf="viewType == 'add'"
      [loanTypes]="loanTypes$ | async"
      [group]="group$ | async"
      [members]="members$ | async"
      [currentLoanQueue]="currentLoanQueue"
      [contributionTypes]="contributionTypes$ | async"
      (closeForm)="closePanel()"
    ></app-add-loan-queue>

    <app-remove-from-queue
      *ngIf="viewType == 'remove'"
      [loanTypes]="loanTypes$ | async"
      [group]="group$ | async"
      [members]="members$ | async"
      [currentLoanQueue]="currentLoanQueue"
      [contributionTypes]="contributionTypes$ | async"
      (closeForm)="closePanel()"
    ></app-remove-from-queue>

    <app-assign-loan
      *ngIf="viewType === 'loan'"
      [group]="group$ | async"
      [membersLoans]="membersLoans$ | async"
      [contributionTypes]="contributionTypes$ | async"
      [loanTypes]="loanTypes$ | async"
      [member]="currentMember"
      [initialAmount]="initialAmount"
      [initialDate]="initialDate"
      [initialLoanType]="initialLoanType"
      (closeForm)="closePanel()"
    ></app-assign-loan>


  </ng-container>
</app-shared-layout>
