<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <mat-form-field appearance="outline">
        <mat-label>Select Member</mat-label>
        <mat-select [(ngModel)]="memberId" (selectionChange)="setMember($event.value)">
          <app-mat-select-search [(ngModel)]="searchMembers"></app-mat-select-search>
          <mat-option *ngFor="let member of members | search:'name':searchMembers" [value]="member.id">
            {{member.name}} ({{member.phone_number}})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-12" *ngIf="memberId" @fadeIn>
      <mat-tab-group>
        <mat-tab label="New Fines">
          <div class="row" style="min-height: 400px">
            <div class="col-sm-12 mt-2" *ngIf="memberId" @fadeIn>
              <table class="table table-bordered entry-table">
                <tr>
                  <th *ngIf="group.track_contribution_period" style="width: 250px">Period</th>
<!--                  <th *ngIf="group.track_contribution_period" style="width: 150px">Month</th>-->
                  <th *ngIf="!group.track_contribution_period" style="width: 150px">Contribution Date</th>
                  <th >Fines</th>
                  <th style="width: 150px">Total</th>
                  <td style="width: 60px"></td>
                </tr>
                <tr *ngFor="let monthData of monthsDatas">
                  <td *ngIf="group.track_contribution_period">
                    <app-period-selector
                     [currentMonth]="monthData.month"
                     [currentYear]="monthData.year"
                    ></app-period-selector>
              </td>
                  <th *ngIf="!group.track_contribution_period" >
                    {{monthData.date | date}}
                  </th>
                  <td>
                    <div class="row" *ngFor="let contr of fineTypes">
                      <div class="col-sm-12">
                        <mat-checkbox (change)="setFine($event.checked, contr, monthData)" [(ngModel)]="monthData.hasFine[contr.id]">{{contr.description}}</mat-checkbox>
                        <mat-form-field appearance="outline" *ngIf="monthData.hasFine[contr.id]" @fadeIn>
                          <mat-label>{{contr.description}}</mat-label>
                          <input
                            matInput
                            placeholder="{{contr.description}} Amount"
                            [(ngModel)]="monthData.fines[contr.id]"
                            (input)="calculateTotal()"
                          >
                        </mat-form-field>
                      </div>
                    </div>

                  </td>
                  <th>{{monthData.total | number}}</th>
                  <td>
                    <button mat-icon-button (click)="deleteEntry(monthData.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
                <!--        New Entry-->
                <tr>
                  <td *ngIf="group.track_contribution_period">
                    <app-period-selector
                      (selected)="setMonthAndYear($event)"
                      [clearAfterSelection]="true"
                      [exclude]="excludedPeriods"
                    ></app-period-selector>

                  </td>
                  <td *ngIf="!group.track_contribution_period">
                    <mat-form-field appearance="outline">
                      <mat-label>Date</mat-label>
                      <input (dateChange)="setDate()" readonly matInput [matDatepicker]="endingDate" [(ngModel)]="contributionDate"/>
                      <mat-datepicker-toggle matSuffix [for]="endingDate"></mat-datepicker-toggle>
                      <mat-datepicker #endingDate></mat-datepicker>
                    </mat-form-field>
                  </td>
                  <td>
                  </td>
                  <td colspan="2"></td>
                </tr>
                <tr *ngIf="monthsDatas.length > 0">
                  <th style="text-align: right" [attr.colspan]="group.track_contribution_period ? 3 : 2">
                    Total
                  </th>
                  <th colspan="2">
                    {{grandTotal | number}}
                  </th>
                </tr>
              </table>
            </div>
            <div class="col-sm-12 mt-3" *ngIf="grandTotal" @fadeIn>
              <app-save-area
                [confirmFirst]="true"
                confirmText="Are you sure you want to ADD {{grandTotal | number}}  as contribution for {{currentMember.name}}?"
                [saveDisabled]="!grandTotal"
                (cancel)="onClose()"
                (save)="save()"
                [savingData]="loading"
              ></app-save-area>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Current Fines ({{(membersFines$ | async)?.length}})">
          <div *ngFor="let fine of membersFines$ | async" class="mb-2">
            <h3 class="registration-title mb-0">
              {{fine.amount | number}}
            </h3>
            <p class="mb-0" style="color: wheat">
              {{fine.fineType?.description}}
            </p>
            <p class="text-muted">
              {{fine.date | date:'MMM yyyy'}}
            </p>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>
</div>
