<app-shared-layout
  title="Previous Data"
  icon="settings"
  [viewDetails]="viewDetails"
  [smallForm]="false"
  [animationSize]="'full'"
  [formTitle]="panelTitle"
  (closeDetails)="closePanel()"
>
  <ng-container ngProjectAs="table">
    <app-menu-items
      [menus]="menus"
      (menuClicked)="openPanel($event)"
    ></app-menu-items>
  </ng-container>
  <ng-container ngProjectAs="form">
    <app-contribution-by-period
      *ngIf="viewType == 'Contribution By Period'"
      [group]="group$ | async"
      [contributionTypes]="contributionTypes$ | async"
      [members]="members$ | async"
      (closeForm)="closePanel()"
    ></app-contribution-by-period>
    <app-contribution-by-member
      *ngIf="viewType == 'Contribution By Member'"
      [group]="group$ | async"
      [contributionTypes]="contributionTypes$ | async"
      [members]="members$ | async"
      (closeForm)="closePanel()"
    ></app-contribution-by-member>
    <app-loan-by-member
      *ngIf="viewType == 'Loans'"
      [group]="group$ | async"
      [loanTypes]="loanTypes$ | async"
      [contributionTypes]="contributionTypes$ | async"
      [members]="members$ | async"
      (closeForm)="closePanel()"
    ></app-loan-by-member>
  </ng-container>
</app-shared-layout>
