<div [ngClass]="editing ? 'editing' : 'adding'">
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel>
        Basic Information
      </ng-template>
      <div class="row">
        <!--      Contribution Type-->
        <div class="col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Contribution Type</mat-label>
            <mat-select [(ngModel)]="contributionType">
              <mat-option [value]="type.id" *ngFor="let type of contributionTypes$ | async">
                {{type.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--      Loan Duration Type-->
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Loan Duration Type</mat-label>
            <mat-select [(ngModel)]="frequency">
              <mat-option value="Monthly">Monthly <small> (Loan duration will be in Month)</small></mat-option>
              <mat-option value="Weekly">Weekly <small> (Loan duration will be in Week)</small></mat-option>
              <mat-option value="Yearly">Yearly <small> (Loan duration will be in Years)</small></mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--      Loan Name-->
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Loan name</mat-label>
            <input [(ngModel)]="name" matInput placeholder="Loan name">
          </mat-form-field>
        </div>

        <!--      Next step for first step-->
        <div class="col-sm-12">
          <button [disabled]="!name || !frequency" class="next-btn zoom-on-hover" style="float: right" mat-button
                  matStepperNext>
            Next
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>
        Amounts
      </ng-template>
      <div class="row">

        <!--      Profit Calculation Type-->
        <div [ngClass]="{'col-sm-6': !!profitCalculationType, 'col-sm-12': !profitCalculationType}"
             class="transition-element">
          <mat-form-field appearance="outline">
            <mat-label>Profit Calculation Type</mat-label>
            <mat-select [(ngModel)]="profitCalculationType">
              <mat-option value="Fixed Percent">Fixed Percent</mat-option>
              <mat-option value="Custom Formula">Custom Formula</mat-option>
              <mat-option value="Reducing Balance">Reducing Balance</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--Interest Percent-->
        <div class="col-sm-6"
             *ngIf="profitCalculationType == 'Fixed Percent' || profitCalculationType == 'Reducing Balance'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Interest Rate <span>({{interestRate}}%)</span></mat-label>
            <input matInput type="number" placeholder="Interest Rate" [(ngModel)]="interestRate">
          </mat-form-field>
        </div>

        <!--Interest Percent-->
        <div class="col-sm-6" *ngIf="profitCalculationType == 'Custom Formula'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Loan Formula</mat-label>
            <input matInput type="text" placeholder="Loan Formular eg (M*(T+1)*1)/200" [(ngModel)]="loanFormular">
            <mat-hint>M to be replaced with amount and T to be replaced with time default eg (M*(T+1)*1)/200</mat-hint>
          </mat-form-field>
        </div>

        <!--     Same Payment Per Return-->
        <div class="col-sm-6" *ngIf="profitCalculationType" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Same Payment Per Return</mat-label>
            <mat-select [(ngModel)]="samePaymentPerReturn">
              <mat-option value="Yes">Yes (Member must return same amount every {{durationTYpe}}</mat-option>
              <mat-option value="No">No (Member can return in random fashion)</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--      Payment Option-->
        <div class="col-sm-6" *ngIf="samePaymentPerReturn" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Loan Option</mat-label>
            <mat-select [(ngModel)]="paymentOption" placeholder="Payment Option">
              <mat-option value="Member receive full amount loaned">Member receive full amount loaned</mat-option>
              <mat-option value="Cut profit from the loan">Cut profit from the loan</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--      Is Loan Insured-->
        <div class="transition-element" *ngIf="paymentOption" @fadeIn
             [ngClass]="{'col-sm-6': isLoanInsured == 'Yes', 'col-sm-12': isLoanInsured != 'Yes'}">
          <mat-form-field appearance="outline">
            <mat-label>Is Loan Insured</mat-label>
            <mat-select [(ngModel)]="isLoanInsured">
              <mat-option value="Yes">Yes</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--Insurance Percent-->
        <div class="col-sm-6" *ngIf="isLoanInsured == 'Yes'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Insurance Percent <span>({{insurancePercent}}%)</span></mat-label>
            <input matInput type="number" placeholder="Interest Rate" [(ngModel)]="insurancePercent">
            <mat-hint>This amount will be reduced from the loan amount</mat-hint>
          </mat-form-field>
        </div>

        <!--      Next and previous icons for second stage-->
        <div class="col-sm-12">
          <button
            [disabled]="!profitCalculationType
          || !samePaymentPerReturn
          || !isLoanInsured
          || !paymentOption
          || (isLoanInsured === 'Yes' && !insurancePercent)
          || ((profitCalculationType == 'Fixed Percent' || profitCalculationType == 'Reducing Balance') && !(interestRate + ''))
          || (profitCalculationType == 'Custom Formula' && !loanFormular)
"
            class="next-btn zoom-on-hover" style="float: right" mat-button matStepperNext>
            Next
            <mat-icon>arrow_forward</mat-icon>
          </button>
          <button class="next-btn zoom-on-hover" mat-button matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
            Back
          </button>
        </div>
      </div>
    </mat-step>

    <!--  Loan Condition Section-->
    <mat-step>
      <ng-template matStepLabel>
        Loan Conditions
      </ng-template>
      <div class="row">
        <!--      Minimum Duration-->
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Minimum Duration <span *ngIf="durationTYpe">({{minimumDuration | number}} {{durationTYpe}}
              )</span>
            </mat-label>
            <input matInput type="number" placeholder="Minimum duration in {{durationTYpe}}"
                   [(ngModel)]="minimumDuration">
          </mat-form-field>
        </div>
        <!--      Maximum Duration-->
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Maximum Duration <span *ngIf="durationTYpe">({{maximumDuration | number}} {{durationTYpe}}
              )</span>
            </mat-label>
            <input matInput type="number" placeholder="Maximum duration in {{durationTYpe}}"
                   [(ngModel)]="maximumDuration">
          </mat-form-field>
        </div>

        <!--      Minimum Loan Amount-->
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>
              Minimum Amount <span *ngIf="group">({{minimumAmount | number}} {{group.currency}})</span>
            </mat-label>
            <input matInput type="number" placeholder="Minimum Amount" [(ngModel)]="minimumAmount">
          </mat-form-field>
        </div>

        <!--      Maximum Amount Type-->
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Maximum Amount Type</mat-label>
            <mat-select [(ngModel)]="maximumAmountType" placeholder="Maximum Amount Type">
              <mat-option value="No Limit">No Limit</mat-option>
              <mat-option value="Fixed">Fixed Amount</mat-option>
              <mat-option value="Relative to Balance">Relative to Balance</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--      Maximum Loan Amount-->
        <div class="col-sm-6" *ngIf="maximumAmountType == 'Fixed'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Maximum Loan Amount <span *ngIf="group">({{maximumAmount | number}} {{group.currency}})</span>
            </mat-label>
            <input matInput type="number" placeholder="Minimum Amount" [(ngModel)]="maximumAmount">
          </mat-form-field>
        </div>

        <!--      Maximum Loan Amount Balance Factor-->
        <div class="col-sm-6" *ngIf="maximumAmountType == 'Relative to Balance'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Balance Factor <small>(This number times members current contribution balance will be maximum
              amount )</small></mat-label>
            <input matInput type="number" placeholder="Balance Factor" [(ngModel)]="maximumAmountBalanceFactor">
          </mat-form-field>
        </div>

        <!--      Loan Topup allowed-->
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Allow loan top up</mat-label>
            <mat-select [(ngModel)]="allowLoanTopUp">
              <mat-option value="Yes">Yes</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--      Next and previous icons for second stage-->
        <div class="col-sm-12">
          <button class="next-btn zoom-on-hover" style="float: right" mat-button matStepperNext>
            Next
            <mat-icon>arrow_forward</mat-icon>
          </button>
          <button class="next-btn zoom-on-hover" mat-button matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
            Back
          </button>
        </div>
      </div>
    </mat-step>

    <!--  Fine Section-->
    <mat-step>
      <ng-template matStepLabel>
        Loan Fines
      </ng-template>
      <div class="row">
        <div class="col-sm-12">
          <h5 class="registration-title">fine for late {{durationTYpe}} Returns</h5>
        </div>
        <!--      Is fine allowed-->
        <div [ngClass]="fineForReturns == 'Yes' ? 'col-sm-6' : 'col-sm-12'">
          <mat-form-field appearance="outline">
            <mat-label>Is there fine for late {{durationTYpe}} Returns?</mat-label>
            <mat-select [(ngModel)]="fineForReturns" (selectionChange)="setLateReturnFineAllowed($event)">
              <mat-option value="Yes">Yes</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--      Fine Amount-->
        <div class="col-sm-6" *ngIf="fineForReturns == 'Yes'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Late {{durationTYpe}} returns fine name</mat-label>
            <input matInput placeholder="Late {{durationTYpe}} returns fine name" [(ngModel)]="fineForReturnName">
          </mat-form-field>
        </div>

        <!--      Fine Calculation Type-->
        <div class="col-sm-6" *ngIf="fineForReturns == 'Yes'">
          <mat-form-field appearance="outline">
            <mat-label>Fine Calculation Type</mat-label>
            <mat-select [(ngModel)]="fineForReturnType">
              <mat-option value="Fixed">Fixed</mat-option>
              <mat-option value="Based on current balance">Based on current balance</mat-option>
              <mat-option value="Based on amount to be paid">Based on amount to be paid</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--      Fine Amount-->
        <div class="col-sm-6" *ngIf="fineForReturnType == 'Fixed'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Fine Amount ({{fineForReturnAmount | number}})</mat-label>
            <input matInput placeholder="Fine amount" type="number" [(ngModel)]="fineForReturnAmount">
          </mat-form-field>
        </div>

        <!--      Maximum Loan Amount Balance Factor-->
        <div class="col-sm-6"
             *ngIf="fineForReturnType == 'Based on current balance' || fineForReturnType == 'Based on amount to be paid'"
             @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Balance Percent <small>({{fineForReturnBalanceFactor}}%)</small></mat-label>
            <input matInput type="number" placeholder="Balance Factor" [(ngModel)]="fineForReturnBalanceFactor">
          </mat-form-field>
        </div>
      </div>
      <hr>
      <div class="row">

        <div class="col-sm-12">
          <h5 class="registration-title">fine for late completion of loan</h5>
        </div>
        <!--      Is fine allowed-->
        <div [ngClass]="fineForCompletes == 'Yes' ? 'col-sm-6' : 'col-sm-12'">
          <mat-form-field appearance="outline">
            <mat-label>Is there fine for late completion of loan?</mat-label>
            <mat-select [(ngModel)]="fineForCompletes" (selectionChange)="setCompletionFineAllowed($event)">
              <mat-option value="Yes">Yes</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--      Fine Amount-->
        <div class="col-sm-6" *ngIf="fineForCompletes == 'Yes'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Completion fine name</mat-label>
            <input matInput placeholder="Completion fine name" [(ngModel)]="fineForCompleteName">
          </mat-form-field>
        </div>

        <!--      Fine Calculation Type-->
        <div class="col-sm-6" *ngIf="fineForCompletes == 'Yes'">
          <mat-form-field appearance="outline">
            <mat-label>Fine Calculation Type</mat-label>
            <mat-select [(ngModel)]="fineForCompleteType">
              <mat-option value="Fixed">Fixed</mat-option>
              <mat-option value="Based on current balance">Based on current balance</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--      Fine Amount-->
        <div class="col-sm-6" *ngIf="fineForCompleteType == 'Fixed'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Fine Amount ({{fineForCompleteAmount | number}})</mat-label>
            <input matInput placeholder="Fine amount" type="number" [(ngModel)]="fineForCompleteAmount">
          </mat-form-field>
        </div>

        <!--      Maximum Loan Amount Balance Factor-->
        <div class="col-sm-6" *ngIf="fineForCompleteType == 'Based on current balance'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Balance Percent <small>({{fineForCompleteBalanceFactor}}%)</small></mat-label>
            <input matInput type="number" placeholder="Balance Factor" [(ngModel)]="fineForCompleteBalanceFactor">
          </mat-form-field>
        </div>
      </div>
      <div class="row">

        <!--      Next and previous icons for third stage-->
        <div class="col-sm-12">
          <button class="next-btn zoom-on-hover" style="float: right" mat-button matStepperNext>
            Next
            <mat-icon>arrow_forward</mat-icon>
          </button>
          <button class="next-btn zoom-on-hover" mat-button matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
            Back
          </button>
        </div>
      </div>
    </mat-step>

    <!--  Loan Caluculation Test-->
    <mat-step>
      <ng-template matStepLabel>
        Calculation Test
      </ng-template>
      <div class="row">
        <div class="col-sm-12">
          <h4 class="registration-title">Test loan formular calculation</h4>
        </div>
        <!--     Amount Loaned-->
        <div class="col-sm-6" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Amount Loaned <small *ngIf="testAmount">({{testAmount | number}})</small></mat-label>
            <input (input)="calculateLoan()" matInput type="number" placeholder="Amount Loaned"
                   [(ngModel)]="testAmount">
          </mat-form-field>
        </div>

        <!--      Maximum Loan Amount Balance Factor-->
        <div class="col-sm-6" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Duration <small>({{testDuration }} {{durationTYpe}})</small></mat-label>
            <input (input)="calculateLoan()" matInput type="number" placeholder="Duration" [(ngModel)]="testDuration">
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <p *ngIf="testAmount" @fadeIn>Amount Taken: <span class="registration-title"> {{testAmount | number}}</span>
          </p>
          <p *ngIf="testDuration" @fadeIn>Duration of Loan: <span
            class="registration-title"> {{testDuration | number}}</span></p>
          <p *ngIf="testAmount && testDuration" @fadeIn>
            Amount To Return: <span class="registration-title"> {{testToReturn | number}}</span>
          </p>
          <p *ngIf="testAmount && testDuration" @fadeIn>
            Amount Per Return: <span class="registration-title"> {{testAmountPerReturn | number}}</span>
          </p>
          <p *ngIf="testAmount && testDuration && profitCalculationType == 'Reducing Balance'" @fadeIn>
            Amount For first Installment: <span class="registration-title"> {{testToReturn | number}}</span>
          </p>
        </div>
      </div>
      <!--      Save Area-->
      <div class="row">
        <div class="col-sm-12">
          <button class="next-btn zoom-on-hover" mat-button matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
            Back
          </button>
        </div>
        <div class="col-sm-12 mt-2">
          <app-save-area
            [confirmFirst]="true"
            [saveDisabled]="!frequency"
            (cancel)="close()"
            [savingData]="loading"
            (save)="sendData()"
          ></app-save-area>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
