<app-loader *ngIf="savingData" [message]="loadingMessage" @fadeIn></app-loader>
<div [ngStyle]="{'text-align': buttonPosition}" class="button-div" *ngIf="!savingData && !showConfirm" @fadeIn>

  <button
    @fadeIn
    *ngIf="showCancel"
    class="zoom-on-hover"
    mat-button
    style="color: rgba(255, 255, 255, 0.7)"
    (click)="onClose()">
    <mat-icon>close</mat-icon>
    {{ cancelText }}
  </button>

  <button
    @fadeIn
    *ngIf="!hideSave"
    [disabled]="saveDisabled"
    class="zoom-on-hover"
    mat-raised-button color="primary"
    style="font-weight: 900; border-radius: 20px;margin-top: 10px;padding: 5px 25px;font-size: 15px;border: 1px solid #FF7043; color:  #FF7043!important;"
    (click)="onSave(true)">
    <mat-icon>{{saveIcon}}</mat-icon>
    {{ saveText }}
  </button>
  <!--<p class="text-right">Your About Save Data, Confirm</p>-->
</div>

<div style="text-align: center" *ngIf="showConfirm" @fadeIn>
  <div class="">
    <p class="lead">{{ confirmText }}</p>
    <p class="confirm-div">
      <button mat-raised-button class="yes-button zoom-on-hover"  @fadeIn
              (click)="onSave(false)">
        <mat-icon>done</mat-icon> Yes
      </button>
      <button mat-raised-button class="no-button zoom-on-hover" @fadeIn
              (click)="onCancelShowConfirm()">
        <mat-icon>clear</mat-icon> No
      </button> &nbsp;
    </p>

  </div>
</div>
