<p class="registration-title lead mb-3" *ngIf="infoNotComplete">
  {{incompleteText}}
</p>
<app-group-progress
  *ngIf="infoNotComplete"
></app-group-progress>
<div class="summary-progress-container content-area mb-5" *ngIf="!itemsExists && !infoNotComplete">
  <div class="progressArea">
    <img alt="meeting" src="../../../../assets/images/{{imageSrc}}">
  </div>
  <div class="textArea">
    <h1 style="font-size: 40px; line-height: 45px" class="registration-title mt-5 mb-1">
      {{title}}
    </h1>
    <p style="font-size: 20px; font-weight: 100; color: #9b9b9b; margin-bottom: 20px">
      {{subTitle}}
    </p>
    <button
      style="font-weight: 900; border-radius: 20px;margin-top: 10px;padding: 5px 25px;font-size: 15px;border: 1px solid #FF7043;"
      mat-raised-button
      class="registration-title add-button"
      (click)="add()"
    >
      <mat-icon>add</mat-icon>&nbsp;
      {{addTitle}}
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
