<div class="row content-area px-4">
    <div class="col-sm-12 title-grid mb-7" *ngIf="!member">
      <div style="display: grid; align-content: center">
        <h3 class="registration-title pl-1" style="color: #ffffffc7;">Leadership</h3>
      </div>

    </div>
    <div class="col-sm-12" *ngIf="group && !member">
      <!--      Chairperson-->
      <div class="leader-grid" *ngIf="group.chairpersonDetails">
        <div class="img-div">
          <h1>{{group.chairpersonDetails.name[0]}}</h1>
        </div>
        <div style="display: grid;align-content: center">
          <p>Chairperson</p>
          <h3 class="registration-title">{{group.chairpersonDetails.name}}</h3>
        </div>
      </div>

      <!--      Secretary-->
      <div class="leader-grid" *ngIf="group.secretaryDetails">
        <div class="img-div">
          <h1>{{group.secretaryDetails.name[0]}}</h1>
        </div>
        <div style="display: grid;align-content: center">
          <p>Secretary</p>
          <h3 class="registration-title">{{group.secretaryDetails.name}}</h3>
        </div>
      </div>

      <!--      Treasury-->
      <div class="leader-grid" *ngIf="group.treasuryDetails">
        <div class="img-div">
          <h1>{{group.treasuryDetails.name[0]}}</h1>
        </div>
        <div style="display: grid;align-content: center">
          <p>Chairperson</p>
          <h3 class="registration-title">{{group.treasuryDetails.name}}</h3>
        </div>
      </div>
    </div>
  </div>

