.action-button {
  background-color: #1d1d42;
  margin-right: 15px;
  border: 1px solid #ffffff40;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

.active {
  background-color: #0f0e22;
}
