<app-shared-layout
  title="Data Export"
  image="export-excel.png"
  urlName="Summary"
  [url]="['', 'summary']"
>
  <ng-container ngProjectAs="table">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <button
            mat-raised-button
            class="zoom-on-hover cursor action-button"
            [ngClass]="{'active': summaryType == 'Contribution'}"
            (click)="summaryType = 'Contribution'"
          >Contributions</button>
          <button
            mat-raised-button
            class="zoom-on-hover cursor action-button"
            [ngClass]="{'active': summaryType == 'Loan'}"
            (click)="summaryType = 'Loan'"
          >Loan</button>
          <button
            mat-raised-button
            class="zoom-on-hover cursor action-button"
            [ngClass]="{'active': summaryType == 'Monthly'}"
            (click)="summaryType = 'Monthly'"
          >Monthly Summary</button>
        </div>

        <div class="col-sm-12">
          <app-contribution-export
            @fadeIn
            *ngIf="summaryType == 'Contribution'"
          ></app-contribution-export>
          <app-loan-export
            @fadeIn
            *ngIf="summaryType == 'Loan'"
          ></app-loan-export>
          <app-month-export
            @fadeIn
            *ngIf="summaryType == 'Monthly'"
          ></app-month-export>
        </div>
      </div>
    </div>
  </ng-container>
</app-shared-layout>
