<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label>From</mat-label>
        <input readonly matInput [matDatepicker]="startingDate" [(ngModel)]="startDate"/>
        <mat-datepicker-toggle matSuffix [for]="startingDate"></mat-datepicker-toggle>
        <mat-datepicker #startingDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-6" *ngIf="startDate" @fadeIn>
      <mat-form-field appearance="outline">
        <mat-label>To</mat-label>
        <input readonly matInput [matDatepicker]="endingDate" [(ngModel)]="endDate"/>
        <mat-datepicker-toggle matSuffix [for]="endingDate"></mat-datepicker-toggle>
        <mat-datepicker #endingDate></mat-datepicker>
      </mat-form-field>

    </div>

    <div class="col-sm-5" *ngIf="endDate" @fadeIn>
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="type">
          <mat-option value="Contribution">Contribution</mat-option>
          <mat-option value="Loan">Loan</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-5" *ngIf="type == 'Loan'" @fadeIn>
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="loanType" (selectionChange)="setLoanType($event)">
          <mat-option value="All">All</mat-option>
          <mat-option *ngFor="let loan of loanTypes$ | async" [value]="loan.id">{{loan.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-2" *ngIf="loanType" @fadeIn>
      <button
        style="height: 44px; margin-top: 3px; width: 100%;background-color: #141432; border: 1px solid #ffffff52;"
        mat-raised-button
        class="zoom-on-hover"
        (click)="getData()"
      >
        <mat-icon>refresh</mat-icon>
        Get Data
      </button>
    </div>
  </div>

  <div class="row" *ngIf="dateReady" @fadeIn>
    <div class="col-sm-6">
      <mat-checkbox [(ngModel)]="showPhoneNumber">Show Phone Number</mat-checkbox>
    </div>
    <div class="col-sm-6 mb-1" style="text-align: right">
      <button class="zoom-on-hover no-print" (click)="downloadExcel()" mat-raised-button style="background-color: #141432; border: 1px solid #ffffff52;">
        <img alt="download excel" src="assets/images/csv.png" style="height: 26px"> &nbsp; Download
      </button>
    </div>
    <div class="col-sm-12" *ngIf="type == 'Loan'">
      <table #dataTable class="table table-bordered" style="color: white">
        <tr>
          <th [attr.colspan]="months.length + (showPhoneNumber ? 6 : 5)" style="text-align: center">
            {{title}}
          </th>
        </tr>
        <tr>
          <th>Member</th>
          <th *ngIf="showPhoneNumber">PhoneNumber</th>
          <th>Month Issued</th>
          <th>Amount Issued</th>
          <th>interest</th>
          <th *ngFor="let month of months">{{month.name}}</th>
          <th>Balance</th>
        </tr>
        <ng-container *ngFor="let loan of loanData$ | async">
          <tr>
            <th>{{loan.memberName}}</th>
            <th *ngIf="showPhoneNumber">{{loan.member?.phone_number}}</th>
            <th>{{(loan.start_year + '-' + loan.start_month + '01')  | date:'MMMM yyyy'}} </th>
            <th>{{loan.amount_taken | number}}</th>
            <th>{{loan.total_profit_contribution | number}}</th>
            <th *ngFor="let month of months">
                  <span *ngIf="loan.monthData && loan.monthData[month.id]">
                    {{loan.monthData[month.id] | number}}
                  </span>
            </th>
            <th>
              <span *ngIf="loan.remaining_balance">{{loan.remaining_balance | number}}</span>
              <span *ngIf="!loan.remaining_balance">-</span>
            </th>
          </tr>
        </ng-container>
        <tr>
          <th [attr.colspan]="showPhoneNumber ? 3 : 2" style="text-align: right">Total</th>
          <th>{{basicTotals | number}}</th>
          <th>{{interestTotals | number}}</th>
          <th *ngFor="let month of months">{{loanMonthTotals[month.id] | number}}</th>
          <th>{{loanOverAllTotals | number}}</th>
        </tr>
      </table>
    </div>
  </div>
</div>
