<div class="left-title">
    <button (click)="goBack()" mat-flat-button>
        <mat-icon>arrow_back</mat-icon>&nbsp;
        <!-- <span *ngIf="!(isHandset$ | async)">{{previousStep$ | async}}</span> -->
    </button>
</div>
<div class="grid-area" align="center">
    <div style="width: 30%;" align="center">
        <ng-container *ngIf="!messageReceived">
            <div @fadeInOut>
                Welcome <span style="font-weight: bolder;">{{memberName}},</span> we will send a One Time Pin for your
                password reset to <span style="font-weight:bolder">{{trimmedPhoneNumber}}</span>, If you have no access
                to this number, or its not your number, please contact your group leader.
            </div>
            <!-- <div class="mt-2" style="width: 80%; display: flex; align-items: center;" @fadeInOut>
                <div style="width: 30%;">
                    <mat-form-field appearance="fill">
                        <img matPrefix style="height: 15px; width: 25px; margin-right: 10px" alt="Country Flag"
                            *ngIf="country" src="assets/flags/{{country.isoCode.toLowerCase()}}.png">
                        <mat-select [(ngModel)]="selectedCountry">
                            <mat-option *ngFor="let count of countries" [value]="count.phoneCode">
                                <img alt="flag" style="height: 15px; width: 25px"
                                    src="assets/flags/{{count.isoCode.toLowerCase()}}.png">
                                &nbsp; +{{count.phoneCode}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div style="width: 70%;">
                    <mat-form-field appearance="fill">
                        <mat-label>Phone number</mat-label>
                        <input [(ngModel)]="messagePhoneNumber" matInput type="text" placeholder="OXXXXXXXXX" #myInput>
                        <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>

                </div>
            </div> -->
            <div *ngIf="loading" @fadeIn>
                <mat-progress-bar style="color: #ffed00" mode="indeterminate"></mat-progress-bar>
                <p>Sending message...</p>
            </div>
            <div class="mt-2" @fadeInOut>
                <button class="registration-button" mat-raised-button (click)="sendMessage()">
                    Send Message
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="messageReceived && !isCorrectOtp">
            <div @fadeInOut>
                Welcome <span style="font-weight: bolder;">{{memberName}},</span> Enter the OTP sent to your
                phone number ({{trimmedPhoneNumber}})
            </div>
            <div class="mt-2" style="display: flex; align-items: center;" @fadeInOut>
                <div class="otp-input">
                    <input type="number" id="firstOtp"
                        (input)="onOtpInput('firstOtp', 'secondOtp', $event.target.value)" [(ngModel)]="firstOtp">
                </div>
                &nbsp;
                <div class="otp-input">
                    <input type="number" id="secondOtp"
                        (input)="onOtpInput('secondOtp', 'thirdOtp', $event.target.value)" [(ngModel)]="secondOtp">
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="otp-input">
                    <input type="number" id="thirdOtp" (input)="onOtpInput('thirdOtp','fourthOtp', $event.target.value)"
                        [(ngModel)]="thirdOtp">
                </div>&nbsp;
                <div class="otp-input">
                    <input type="number" id="fourthOtp"
                        (input)="onOtpInput('fourthOtp','fifthOtp', $event.target.value)" [(ngModel)]="fourthOtp">
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="otp-input">
                    <input type="number" id="fifthOtp" (input)="onOtpInput('fifthOtp','sixthOtp', $event.target.value)"
                        [(ngModel)]="fifthOtp">
                </div>&nbsp;
                <div class="otp-input">
                    <input type="number" id="sixthOtp" (input)="onOtpInput('sixthOtp','otpBtn', $event.target.value)"
                        [(ngModel)]="sixthOtp">
                </div>
            </div>
            <div class="mt-2" @fadeInOut>
                <ng-container *ngIf="sendingOtp">
                    <mat-progress-bar style="color: #ffed00" mode="indeterminate"></mat-progress-bar>
                    <p>Verifying OTP...</p>
                </ng-container>
                <span style="cursor: pointer; color: rgb(212, 211, 211);" (click)="messageReceived = false ">Didnt
                    receive OTP, Resend?</span> &nbsp;&nbsp;
                <button class="registration-button" mat-raised-button (click)="onSubmitOtp()" id="otpBtn">
                    Submit OTP
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="messageReceived && isCorrectOtp">
            <div @fadeInOut>
                <span style="font-weight: bold;">Set new password.</span>
            </div>
            <div @fadeIn class="mt-2">
                <mat-form-field appearance="fill">
                    <mat-label>New password</mat-label>
                    <input [(ngModel)]="newPassword" matInput type="password" placeholder="Enter new password" #myInput>
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
            </div>
            <div @fadeIn>
                <mat-form-field appearance="fill">
                    <mat-label>Confirm new password</mat-label>
                    <input [(ngModel)]="confirmNewPassword" matInput type="password" placeholder="Confirm new password"
                        #myInput>
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-hint *ngIf="confirmNewPassword && (confirmNewPassword !== newPassword)" @fadeIn
                        style="color: red;">*Password doesnot
                        match</mat-hint>
                </mat-form-field>
            </div>
            <div *ngIf="changingPassword" @fadeIn>
                <mat-progress-bar style="color: #ffed00" mode="indeterminate"></mat-progress-bar>
                <p>Changing Password...</p>
            </div>
            <div @fadeIn>
                <button class="registration-button" mat-raised-button (click)="changePassword()"
                    [disabled]="!confirmNewPassword || confirmNewPassword !== newPassword">
                    Submit
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </ng-container>
    </div>
</div>