<div class="row content-area ml-0">
  <div class="col-sm-12 title-grid" *ngIf="!(nextInQueue$ | async)">
    <div style="display: grid; align-content: center">
      <h3 class="registration-title" style="color: #ffffffc7;">Loan queue</h3>
    </div>
    <div class="col-sm-12 p-0" style="margin: 1.5em auto">
      <div class="some-grid zoom-on-hover cursor" (click)="goToLoanQueue()">
        <div class="image-area">
          <img src="assets/images/icons/loan-queue.png">
        </div>
        <div class="amount-area">
          <h2>Loan queue is empty</h2>
          <p><button mat-flat-button>Manage</button></p>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="nextInQueue$ | async">
    <h2 class="text-secondLevel">Next in queue</h2>
    <app-single-loan-queue-item
      (click)="goToLoanQueue()"
      [group]="group$ | async"
      [loanQueue]="nextInQueue$ | async"
      [showMenu]="false"
    ></app-single-loan-queue-item>
  </div>
</div>
