<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">

    </div>
    <mat-card-title>{{data.title}}</mat-card-title>
    <mat-card-subtitle *ngIf="data.subtitle">{{data.subtitle | number}}</mat-card-subtitle>
  </mat-card-header>
  <div style="min-height: 350px;">
    <img mat-card-image [src]="data.fileUrl" alt="{{data.title}}">
    <img mat-card-image *ngIf="data.secondFileUrl" [src]="data.secondFileUrl" alt="{{data.title}}">
  </div>
  <mat-card-content>
    <p>
      {{data.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="closeDialog()" mat-button>CLOSE</button>
  </mat-card-actions>
</mat-card>
