.cont-type-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 25px;
}

.cont-type {
  cursor: pointer;
  display: grid;
  grid-template-columns: 50px auto;
  box-shadow: 0 0 1em #00000096;
  border: 1px solid #ffffff5e;
  border-radius: 15px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1) !important;
  div {
    padding: 15px;
  }

  //.icon-area {
  //  display: grid;
  //  align-content: center;
  //}

  .cont-title {
    font-size: 15px;
    font-weight: 600;
  }

  .cont-description {
    color: rgba(255,255,255,0.6);
  }

}

.cont-active {
  transform: scale(1.02);
  border-radius: 20px;
  .cont-title {
    font-weight: bolder;
  }
  .cont-description {
    color: rgba(255,255,255,0.9);
  }
}

.cont-type:hover {
  transform: scale(1.05);
  .cont-description {
    color: rgba(255,255,255,0.9);
  }
}
