<div class="container-fluid" style="max-height: 90vh; overflow-y: auto">

  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-7">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="registration-title mb-0">Payment Amounts</h4>
          <p><small style="color: #ffffffcf">Select contributions that {{member.name}} is contributing</small></p>
        </div>
        <!--        Contribution Types-->
        <div class="col-sm-12" *ngFor="let contr of contributionTypes">
          <div class="flex justify-between">
            <div >
              <mat-checkbox [(ngModel)]="contributionSelected[contr.id]"
                            (change)="enableContribution($event.checked, contr)">
                {{contr.name}} <b *ngIf="contributionAmount[contr.id]">({{contributionAmount[contr.id] | number}})</b>
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox *ngIf="contr.is_starting_share && contributionSelected[contr.id]">Is Starting Share</mat-checkbox>

            </div>
          </div>


          <mat-form-field appearance="outline" *ngIf="contributionSelected[contr.id]" @fadeIn>
            <mat-label>Amount for {{contr.name}}</mat-label>
            <input
              [(ngModel)]="contributionAmount[contr.id]"
              matInput
              type="number"
              min="0"
              placeholder="Amount for {{contr.name}}"
              (input)="findTotal()"
            >
          </mat-form-field>

        </div>

        <!--        Loans Payments-->
        <div class="col-sm-12" *ngFor="let loan of memberLoans$ | async">
          <mat-checkbox [(ngModel)]="loanSelected[loan.id]" (change)="enableLoanPayment($event.checked, loan)">
            {{loan.loanType?.name}} remaining {{loan.remaining_balance | number}}
            <b *ngIf="loanAmount[loan.id]">(now paying {{loanAmount[loan.id] | number}})</b>
          </mat-checkbox>
          <mat-form-field appearance="outline" *ngIf="loanSelected[loan.id]" @fadeIn>
            <mat-label>Amount for {{loan.loanType?.name}}</mat-label>
            <input
              [(ngModel)]="loanAmount[loan.id]"
              matInput
              type="number"
              min="0"
              placeholder="Amount for {{loan.loanType?.name}}"
              (input)="findTotal()"
            >
          </mat-form-field>
        </div>

        <!--        Fine payments-->
        <div class="col-sm-12">
          <mat-checkbox (change)="setHaveFines($event)" [(ngModel)]="haveFines">{{member.name}} have any fine?</mat-checkbox>
        </div>

        <!--        Fine Types selector-->
        <div class="col-sm-12" *ngIf="haveFines" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Fine to be paid</mat-label>
            <mat-select multiple [(ngModel)]="finesToBePaid" (selectionChange)="setSelectedFines($event)">
              <mat-option *ngFor="let fineType of fineTypes$ | async" [value]="fineType.id">
                {{fineType.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--        Fine Amounts-->
        <div class="col-sm-12" *ngFor="let toBePaid of selectedFineTypes" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Amount for {{toBePaid?.description}}</mat-label>
            <input
              [(ngModel)]="fineAmounts[toBePaid?.id]"
              matInput
              type="number"
              min="0"
              placeholder="Amount for {{toBePaid?.description}}"
              (input)="findTotal()"
            >
          </mat-form-field>
        </div>

        <!--        Payment Reference-->
<!--        <div class="col-sm-12 mt-2" *ngIf="total" @fadeIn>-->
<!--          <h4 class="registration-title mb-0">Payment Reference</h4>-->
<!--          <p><small class="text-muted">Payment mode and reference number</small></p>-->
<!--        </div>-->

        <!--        Payment Mode-->

      </div>
    </div>

    <div class="col-span-5">
<!--      <div class="menu-grid">-->
<!--        <div class="img-div">-->
<!--          <h1 style="font-size: 40px; color: #0d0d0d"-->
<!--              class="registration-title">{{member.name[0].toUpperCase()}}</h1>-->
<!--        </div>-->
<!--        <div>-->
<!--          <h2 class="registration-title mb-1">{{member.name}}</h2>-->
<!--          <p class="lead">{{member.phone_number}}</p>-->
<!--        </div>-->
<!--      </div>-->
      <div class="grid grid-cols-2 gap-4 summary-area">

        <div class="col-sm-6">
          <div class="menu-grid">
            <div class="img-div">
              <h1 style="font-size: 40px; color: #0d0d0d"
                  class="registration-title">{{member.name[0].toUpperCase()}}
                </h1>
            </div>
            <div>
              <h3 class="registration-title mb-1">{{member.name}}
                <small *ngIf="member.subtitle" style="color: whitesmoke; font-size: 11px">{{member.subtitle}}</small>
              </h3>
              <p class="lead">{{member.phone_number}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6" style="padding-top: 10px">
          <p class="text-muted" style="margin-bottom: 5px">Total </p>
          <h1 class="registration-title">{{total | number}}</h1>
        </div>


      </div>

      <div class="grid grid-cols-12 gap-4" *ngIf="total" @fadeIn>
        <div class="col-span-12">
          <!--        Start Date-->
          <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input readonly matInput [matDatepicker]="endingDate" [(ngModel)]="contributionDate"/>
            <mat-datepicker-toggle matSuffix [for]="endingDate"></mat-datepicker-toggle>
            <mat-datepicker #endingDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-span-12 mb-3" *ngIf="group.track_contribution_period" @fadeIn>
          <app-period-selector
          [currentYear]="year"
          [currentMonth]="month"
          (selected)="setPeriod($event)"
          ></app-period-selector>
        </div>

        <div [ngClass]="paymentMode == 'Bank Deposit' || paymentMode == 'Mobile Money' ? 'col-span-6' : 'col-span-12'"
             class="col-span-4" *ngIf="!!total" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Payment Mode</mat-label>
            <mat-select [(ngModel)]="paymentMode" placeholder="Payment Mode">
              <mat-option value="Cash">Cash</mat-option>
              <mat-option value="Bank Deposit">Bank Deposit</mat-option>
              <mat-option value="Mobile Money">Mobile Money</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--        Payment Reference Number-->
        <div class="col-span-6" *ngIf="paymentMode == 'Bank Deposit' || paymentMode == 'Mobile Money'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Reference Number <small class="text-muted">(Optional)</small> </mat-label>
            <input matInput [(ngModel)]="referenceNumber" placeholder="Payment Reference Number">
          </mat-form-field>
        </div>

        <div class="col-span-12 mt-3" *ngIf="total" @fadeIn>
          <app-save-area
            [confirmFirst]="true"
            confirmText="Are you sure you want to ADD {{total | number}}  as contribution for {{member.name}}?"
            [saveDisabled]="(group.track_contribution_period && !month) || !paymentMode"
            (cancel)="closeDialog()"
            (save)="save()"
            [savingData]="loading"
          ></app-save-area>
        </div>

      </div>
    </div>
  </div>
</div>
