<div class="container-fluid" style="max-height: 90vh; overflow-y: auto">

  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-7">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="registration-title mb-0">Payment Amounts</h4>
          <p><small style="color: #ffffffcf">Select contributions that {{member.name}} is contributing</small></p>
        </div>
        <!--        Contribution Types-->
        <div class="col-sm-12" *ngFor="let contr of contributionTypes">
          <div class="flex justify-between">
            <div>
              <mat-checkbox [(ngModel)]="contributionSelected[contr.id]"
                (change)="enableContribution($event.checked, contr)">
                {{contr.name}} <b *ngIf="contributionAmount[contr.id]">({{contributionAmount[contr.id] | number}})</b>
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox *ngIf="contr.is_starting_share && contributionSelected[contr.id]">Is Starting Share
              </mat-checkbox>

            </div>
          </div>


          <mat-form-field appearance="outline" *ngIf="contributionSelected[contr.id]" @fadeIn>
            <mat-label>Amount for {{contr.name}}</mat-label>
            <input [(ngModel)]="contributionAmount[contr.id]" matInput type="number" min="0"
              placeholder="Amount for {{contr.name}}" (input)="findTotal()">
          </mat-form-field>

        </div>

        <!--        Loans Payments-->
        <div class="col-sm-12" *ngFor="let loan of memberLoans$ | async">
          <mat-checkbox [(ngModel)]="loanSelected[loan.id]" (change)="enableLoanPayment($event.checked, loan)">
            {{loan.loanType?.name}} remaining {{loan.remaining_balance | number}}
            <b *ngIf="loanAmount[loan.id]">(now paying {{loanAmount[loan.id] ? (loanAmount[loan.id] | number ):
              (loan?.amount_per_return | number) }})</b>
          </mat-checkbox>
          <div class="grid grid-cols-2 gap-2">
            <div *ngIf="loan.loanType?.profit_type == 'Reducing Balance'">
              <mat-form-field appearance="outline" *ngIf="loanSelected[loan.id]" @fadeIn>
                <mat-label>
                  Loan Amount
                  <span *ngIf="baseLoanAmount[loan.id]">({{baseLoanAmount[loan.id] | number}})</span>
                </mat-label>
                <input [(ngModel)]="baseLoanAmount[loan.id]" matInput type="number" min="0"
                  placeholder="Amount for {{loan.loanType?.name}}" (input)="findTotalAmount(loan)">
                <mat-hint *ngIf="minLoanAmount[loan.id]">
                  Minimum of {{minLoanAmount[loan.id] | number}}
                </mat-hint>
              </mat-form-field>
            </div>
            <div *ngIf="loan.loanType?.profit_type == 'Reducing Balance'">
              <mat-form-field appearance="outline" *ngIf="loanSelected[loan.id]" @fadeIn>
                <mat-label>
                  Interest
                  <span *ngIf="interestAmount[loan.id]">({{baseLoanAmount[loan.id] | number}})</span>
                </mat-label>
                <input readonly [(ngModel)]="interestAmount[loan.id]" matInput type="number" min="0"
                  placeholder="Amount for {{loan.loanType?.name}}" (input)="findTotalAmount(loan)">
              </mat-form-field>
            </div>
            <div class="col-span-2">
              <mat-form-field appearance="outline" *ngIf="loanSelected[loan.id]" @fadeIn>
                <mat-label>Amount for {{loan.loanType?.name}}</mat-label>
                <input [(ngModel)]="loanAmount[loan.id]" matInput type="number" min="0"
                  placeholder="Amount for {{loan.loanType?.name}}" (input)="findBaseAmount(loan)">
                <mat-hint *ngIf="inputErrors[loan.id] && (loan.loanType.pay_same_amount_is_must &&
                this.loanAmount[loan.id] < loan.amount_per_return)" style="color: red; font-weight:bold">
                  *Amount is less than
                  required amount ({{loan.amount_per_return | number}})</mat-hint>
                <mat-hint *ngIf="inputErrors[loan.id] && (loanAmount[loan.id] > loan.remaining_balance)"
                  style="color: red; font-weight:bold">
                  *Amount is Greater than
                  remaining balance ({{loan.remaining_balance | number}})</mat-hint>
              </mat-form-field>
            </div>
          </div>

        </div>

        <!--        Fine payments-->
        <div class="col-sm-12">
          <mat-checkbox (change)="setHaveFines($event)" [(ngModel)]="haveFines">{{member.name}} has any fine?
          </mat-checkbox>
        </div>

        <!--        Fine Types selector-->
        <div class="col-sm-12" *ngIf="haveFines" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Fine to be paid</mat-label>
            <mat-select multiple [(ngModel)]="finesToBePaid" (selectionChange)="setSelectedFines($event)">
              <mat-option *ngFor="let fineType of fineTypes$ | async" [value]="fineType.id">
                {{fineType.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--        Fine Amounts-->
        <div class="col-sm-12" *ngFor="let toBePaid of selectedFineTypes" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Amount for {{toBePaid?.description}}</mat-label>
            <input [(ngModel)]="fineAmounts[toBePaid?.id]" matInput type="number" min="0"
              placeholder="Amount for {{toBePaid?.description}}" (input)="findTotal()">
          </mat-form-field>
        </div>

        <!--        Payment Reference-->
        <!--        <div class="col-sm-12 mt-2" *ngIf="total" @fadeIn>-->
        <!--          <h4 class="registration-title mb-0">Payment Reference</h4>-->
        <!--          <p><small class="text-muted">Payment mode and reference number</small></p>-->
        <!--        </div>-->

        <!--        Payment Mode-->

      </div>
    </div>

    <div class="col-span-5">
      <!--      <div class="menu-grid">-->
      <!--        <div class="img-div">-->
      <!--          <h1 style="font-size: 40px; color: #0d0d0d"-->
      <!--              class="registration-title">{{member.name[0].toUpperCase()}}</h1>-->
      <!--        </div>-->
      <!--        <div>-->
      <!--          <h2 class="registration-title mb-1">{{member.name}}</h2>-->
      <!--          <p class="lead">{{member.phone_number}}</p>-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="grid grid-cols-2 gap-4 summary-area">

        <div class="col-sm-6">
          <div class="menu-grid">
            <div class="img-div">
              <h1 style="font-size: 40px; color: #0d0d0d" class="registration-title">{{member.name[0].toUpperCase()}}
              </h1>
            </div>
            <div>
              <h3 class="registration-title mb-1">{{member.name}}
                <small *ngIf="member.subtitle" style="color: whitesmoke; font-size: 11px">{{member.subtitle}}</small>
              </h3>
              <p class="lead">{{member.phone_number}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6" style="padding-top: 10px">
          <p class="text-muted" style="margin-bottom: 5px">Total </p>
          <h1 class="registration-title">{{total | number}}</h1>
        </div>


      </div>

      <div class="grid grid-cols-12 gap-4" *ngIf="total" @fadeIn>
        <div class="col-span-12">
          <!--        Start Date-->
          <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input readonly matInput [matDatepicker]="endingDate" [(ngModel)]="contributionDate" />
            <mat-datepicker-toggle matSuffix [for]="endingDate"></mat-datepicker-toggle>
            <mat-datepicker #endingDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-span-12 mb-3" *ngIf="group.track_contribution_period" @fadeIn>
          <app-period-selector [currentYear]="year" [currentMonth]="month" (selected)="setPeriod($event)">
          </app-period-selector>
        </div>

        <div [ngClass]="paymentMode == 'Bank Deposit' || paymentMode == 'Mobile Money' ? 'col-span-12' : 'col-span-12'"
          class="col-span-12" *ngIf="!!total" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Payment Mode</mat-label>
            <mat-select [(ngModel)]="paymentMode" placeholder="Payment Mode">
              <mat-option value="Cash">Cash</mat-option>
              <mat-option value="Bank Deposit">Bank Deposit</mat-option>
              <mat-option value="Mobile Money">Mobile Money</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--        Payment Reference Number-->
        <!-- TODO add attachment for bank -->
        <div class="col-span-12" *ngIf="paymentMode == 'Mobile Money'" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>Reference Number <small class="text-muted">(Optional)</small> </mat-label>
            <textarea name="" id="" [(ngModel)]="referenceNumber" cols="30" rows="4"
              placeholder="Payment Reference Number" matInput></textarea>
            <!-- <input matInput [(ngModel)]="referenceNumber" placeholder="Payment Reference Number"> -->
          </mat-form-field>
        </div>
        <div class="col-span-12" *ngIf="paymentMode == 'Bank Deposit'">
          <div class="mb-2" style="width: 100%;">
            <span style="font-weight: bold;">Bank slip/receipt (jpeg/png)</span>
            <mat-icon style="float: right; margin-right: 10px; cursor: pointer;" *ngIf="selectedFile"
              title="Remomve Attachment" (click)="removeAttachment()">close</mat-icon>
          </div>
          <div
            style="width: 100%;min-height: 100px; background-color: #ffffff2e; border: gray; border-style: dotted; border-radius: 10px; display: flex; align-items: center; justify-content: center; cursor: pointer;"
            @fadeIn title="Attach bank slip" (click)="inputFile.click();">
            <div style="width: 100%;" align="center">
              <div>
                <mat-icon> attach_file</mat-icon>
              </div>
              <div style="font-weight: bold;">
                <span *ngIf="!selectedFile">Add attachment</span>
                <span *ngIf="selectedFile">{{selectedFile.name}}</span>
              </div>
              <img [src]="fileUrl" alt="" *ngIf="fileUrl">
            </div>
            <input type="file" style="display: none;" (change)="onFile($event)" #inputFile>
          </div>
        </div>

        <div class="col-span-12 mt-3" *ngIf="total" @fadeIn>
          <app-save-area [confirmFirst]="true"
            confirmText="Are you sure you want to ADD {{total | number}}  as contribution for {{member.name}}?"
            [saveDisabled]="(group.track_contribution_period && !month) || !paymentMode || hasError"
            (cancel)="closeDialog()" (save)="save()" [savingData]="loading"></app-save-area>
        </div>

      </div>
    </div>
  </div>
</div>