<div class="container-fluid">
  <div class="row">
<!--    year selection-->
    <div class="col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label>Contribution Year</mat-label>
        <mat-select [(ngModel)]="year">
          <mat-option *ngFor="let y of years" [value]="y">{{y}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

<!--    Month selection-->
    <div class="col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label>Contribution Month</mat-label>
        <mat-select [(ngModel)]="month" (selectionChange)="setMonth($event.value)">
          <mat-option value="01">Jan {{year}}</mat-option>
          <mat-option value="02">Feb {{year}}</mat-option>
          <mat-option value="03">Mar {{year}}</mat-option>
          <mat-option value="04">Apr {{year}}</mat-option>
          <mat-option value="05">May {{year}}</mat-option>
          <mat-option value="06">Jun {{year}}</mat-option>
          <mat-option value="07">Jul {{year}}</mat-option>
          <mat-option value="08">Aug {{year}}</mat-option>
          <mat-option value="09">Sep {{year}}</mat-option>
          <mat-option value="10">Oct {{year}}</mat-option>
          <mat-option value="11">Nov {{year}}</mat-option>
          <mat-option value="12">Dec {{year}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-12" *ngIf="month" @fadeIn>
      <mat-tab-group>
        <mat-tab label="New Contributions">
          <mat-form-field appearance="legacy">
            <mat-icon matPrefix>search</mat-icon>
            <mat-label>Search</mat-label>
            <input matInput [(ngModel)]="memberSearch">
          </mat-form-field>
          <table class="table entry-table table-bordered">
            <tr>
              <th>Member Name</th>
              <th *ngFor="let contr of contributionTypes">
                {{contr.name}}
              </th>
              <th>Total</th>
            </tr>
            <tr *ngFor="let member of members | search:'name':memberSearch">
              <th>{{member.name}}</th>
              <td *ngFor="let contr of contributionTypes">
                <mat-form-field appearance="outline">
                  <input
                    [(ngModel)]="membersAmount[member.id][contr.id]"
                    placeholder="{{contr.name}} Amount"
                    type="number"
                    min="0"
                    matInput
                    (input)="calculateTotal()"
                  >
                </mat-form-field>
              </td>
              <th>
                {{memberTotals[member.id] | number}}
              </th>
            </tr>
            <tr>
              <th style="text-align: right" [colSpan]="1 + contributionTypes.length">Total</th>
              <th>{{grandTotal | number}}</th>
            </tr>
          </table>
        </mat-tab>
        <mat-tab label="{{monthName}} Contributions ({{(contributions$ | async)?.length}})">
          <div class="row">
            <div class="col-sm-12" >
              <p class="registration-title">Current Contribution</p>

              <p class="lead" *ngIf="(contributions$ | async)?.length == 0">
                There are no contribution for {{monthName}}
              </p>
              <div *ngFor="let contr of contributions$ | async">
                <h5 class="mb-0"  style="color: #ffffffbf">{{contr.date | date:'MMM yyyy'}}</h5>

                <h2 class="registration-title mb-0">{{contr.totalAmount | number}}</h2>
                <h4 class="registration-title mb-0">{{contr.member.name}}</h4>
                <p style="border-bottom: 1px solid white" class="pb-2" ><small  style="color: #ffffff6e">{{contr.description}}</small></p>
                <hr>
                <!--           <small  style="color: #ffffff6e">{{contr.description}}</small>-->
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

    </div>

    <div class="col-sm-12 mt-3" *ngIf="grandTotal && month" @fadeIn>
      <app-save-area
        [confirmFirst]="true"
        confirmText="Are you sure you want to ADD {{grandTotal | number}}  as contribution for {{month}} {{ year}}?"
        [saveDisabled]="!grandTotal || !month"
        (cancel)="onClose()"
        (save)="save()"
        [savingData]="loading"
      ></app-save-area>
    </div>
  </div>
</div>
