.outer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.bgimage {
  //background: url(../../assets/images/member.jpg) no-repeat center center fixed;
  background: url(../../assets/images/vector-compostion2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(10px);
  -webkit-filter: blur(7px);
}

.bgcolor {
  background-color: #1d1d42ad;
}

.example-container {
  height: 100%;
}

.company-image {
  position: absolute;
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  bottom: 10px;
  img {
    height: 25px;
  }
}

.content {
  height: 100%;
}
