<app-registration-template
  backTitle="Back Home"
  progressTitle="Language Selection"
  [progressValue]="12"
>
  <h3 [ngClass]="routeAnimationsElements" style="text-align: center">
    <mat-icon>phone</mat-icon> Phone Number
  </h3>
  <div [ngClass]="routeAnimationsElements" style="text-align: center">
    <div class="time-picker-component" style="width: 350px">
      <div class="row">
        <div class="col-sm-4 p-0">
          <mat-form-field appearance="fill">
            <mat-select  [(ngModel)]="selectedCountry">
              <mat-option *ngFor="let country of countries" [value]="country.phoneCode">
                <img style="height: 15px; width: 25px" src="assets/flags/{{country.isoCode.toLowerCase()}}.png">
                &nbsp; +{{country.phoneCode}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-8 p-0">
          <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input matInput type="text" placeholder="OXXXXXXXXX">
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div [ngClass]="routeAnimationsElements" style="text-align: center">
    <button mat-raised-button [routerLink]="['', 'language-selection']">
      Start Here
    </button>
  </div>
</app-registration-template>
