<h3 class="registration-title" [ngClass]="routeAnimationsElements" style="text-align: center" @fadeIn>
  Welcome {{memberName}}
</h3>
<div [ngClass]="routeAnimationsElements" style="text-align: center" @fadeIn>
  <div class="time-picker-component" style="width: 300px">
    <mat-form-field appearance="fill">
      <mat-label>confirm password</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input
        (input)="setPassword($event)"
        [(ngModel)]="password"
        matInput
        [type]="hide ? 'password' : 'text'"
        placeholder="Enter Your Password"
        #myInput
      >
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint>repeat the selected password to confirm</mat-hint>
    </mat-form-field>
  </div>
</div>
<div *ngIf="password && password.length > 5 && password === firstPassword" @fadeIn [ngClass]="routeAnimationsElements" style="text-align: center">
  <button class="registration-button" mat-raised-button (click)="goNextStep()">
    Register
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>
