<div class="one-payment">
  <div style="display: grid; align-content: center">
    <div class="img-div">
      <h1 style="font-size: 40px;" class="registration-title">{{payment.member?.name[0].toUpperCase()}}</h1>
    </div>
  </div>
  <div class="name-area">
    <h2 style="color: #ffffffb3;" class="mb-1 registration-title">
      {{payment.member.name}}
      {{(payment.member?.additional_config && payment.member?.additional_config.have_other_account && !payment.member?.additional_config.is_primary) ? '(2)' : '' }}
    </h2>
    <h1 class="registration-title mb-0 amount-name-area">
      {{payment.totalContributions | number}}
      <span class="text-muted" style="font-size: 12px!important;">{{group?.currency}}</span>
    </h1>
    <p style="color: #ffffff6e" class="lead mb-1">
      <small>{{ payment.date | date:'MMM yyyy' }}</small>
      <span style="color: #ffffffbf; font-size: 11px"> ({{payment.description}})</span>
    </p>
    <p>
      <a (click)="viewReceipt()" *ngIf="payment.fileUrl" style="color: #ffffffbf; font-size: 11px; cursor: pointer;"> View Receipt</a>
    </p>

  </div>

  <div style="grid-column: span 2" *ngIf="showDelete">
    <app-save-area
      saveText="delete"
      saveIcon="delete"
      (save)="deleteContributions()"
      [confirmFirst]="true"
      [showCancel]="false"
      [savingData]="loading"
      confirmText="Are you sure you want to delete this contributions for {{payment?.member?.name}}"
    ></app-save-area>
  </div>
</div>
