<app-shared-layout
  title="Expenses"
  image="cash-in-hand.png"
  [hideAdd]="(expenses$ | async).length == 0"
  [addIcon]="'add'"
  (addItem)="addLoan()"
  [addText]="'Create Expense'"
>
  <ng-container ngProjectAs="table">
    <p class="registration-title lead mb-3">Some information needed to process expenses have not been defined yet!</p>
    <app-group-progress
      *ngIf="(contributionTypes$ | async)?.length == 0"
    ></app-group-progress>
    <div class="summary-progress-container content-area mb-5" *ngIf="(expenses$ | async)?.length == 0 && (contributionTypes$ | async)?.length != 0">
      <div class="progressArea">
        <img alt="meeting" src="../../../../assets/images/investments.jpg">
      </div>
      <div class="textArea">
        <h1 style="font-size: 40px; line-height: 45px" class="registration-title mt-5 mb-1">
          No expenses posted
        </h1>
        <p style="font-size: 20px; font-weight: 100; color: #9b9b9b; margin-bottom: 20px">
          You can add new expense for a group or specific member.
        </p>
        <button
          style="font-weight: 900; border-radius: 20px;margin-top: 10px;padding: 5px 25px;font-size: 15px;border: 1px solid #FF7043;"
          mat-raised-button
          class="registration-title add-button"
          (click)="addExpense()"
        >

          <mat-icon>add</mat-icon>&nbsp;
          Create Expense
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
    <div class="main-expense-grid">
      <div *ngFor="let expense of expenses$ | async" class="expenseGrid">
        <div>
          <mat-icon>money</mat-icon>
        </div>
        <div>
          <h3 class="mb-1 registration-title">{{ expense.reason }}</h3>
          <p *ngIf="expense.member" class="text-muted mb-0 name-area">{{ expense.member.name }}</p>
          <p *ngIf="!expense.member" class="text-muted mb-0 name-area">Group Expense</p>
          <p class="text-muted"><small>{{ expense.date | date }}</small></p>
        </div>
        <div class="amount-area">
          <h1 class="registration-title">{{ expense.amount | number }}</h1>
        </div>
      </div>
    </div>
  </ng-container>
</app-shared-layout>
