.loan-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;

}

@media only screen and (max-width: 768px) {
  .loan-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .single-loan {
    display: grid;
    grid-template-columns: auto;
  }
  }
